[2012-07-20 15:33] sylvestre opened #2 "Fails to build against clang 3.1"
With clang 3.1 Debian packages, at the end of the build, I am getting the error:
clang_delta-Transformation.o:(.data.rel.ro._ZTI14Transformation[typeinfo for Transformation]+0x8): undefined reference to `typeinfo for clang::ASTConsumer'

The full command being:
libtool: link: g++ -I/usr/lib/llvm-3.1/include -DNDEBUG -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACRO

[2012-07-20 16:14] #2 closed, assigned to eeide

[2013-01-31 10:34] ismail opened #11 "Remove Perl-Sys-CPU dependency"
Perl-Sys-CPU module has no license information hence it cannot be legally distributed by anyone. This prevents us packaging creduce for openSUSE.

[2013-01-31 14:55] #11 closed, assigned to eeide

[2013-07-26 04:00] chisophugis opened #24 "Guidance for fetching dependencies on Mac"
http://embed.cs.utah.edu/creduce/ claims that C-Reduce has been tested on Mac, but INSTALL only provides guidance for Linux.

Can you provide an easy homebrew commandline so Mac users can easily get up and running with the required dependencies?

[2013-07-27 17:37] #24 closed, assigned to eeide

[2013-09-04 13:25] automatedbugreportingfacility opened #26 "Assertion `RWBuf && "Empty RewriteBuffer!"' failed."
C-Reduce was compiled with --enable-trans-assert using LLVM v3.3.

Reduced testcase:

script.sh:
"""
# !/bin/bash

clang++ /path/to/test.cpp 2>&1 | grep 'expected' >/dev/null
"""

test.cpp:
"""
# define M(S, W)\

[code]

class T;
class F {
  M(new_, n1)
}
template <typename U> struct V {
  bool d();
}
template <> bool V<F>::d()
"""

$ ./creduce ./script.sh /path/to/test.cpp
===< 9133 >===
running

[2013-09-05 04:41] #26 closed, assigned to nobody

[2013-10-08 22:06] rnk opened #27 "clang-delta constructs clang analyzer CFGs, which is fragile and probably unnecessary"
$ ./clang_delta/clang_delta --transformation=replace-function-def-with-decl t.ii --output=t --counter=1
Stack dump:
0.      t.ii:1614:3: current parser token ';'
1.      t.ii:509:5: parsing namespace 'std'
2.      t.ii:1567:5: parsing namespace 'llvm'
3.      t.ii:1572:5: parsing struct/union/class body 'APInt'
4.      t.ii:1581:29: parsing function body 'clearUnusedBits'
Segmentation fault (core

[2013-10-09 00:10] rnk opened #28 "llvm-config --cxxflags adds -Werror, but creduce usually isn't -Werror clean"
It'd be handy if creduce's configure.ac and clang-delta/Makefile filtered -Werror out of `llvm-config --cxxflags`, otherwise it's unreasonably difficult to build creduce against an LLVM build that used -Werror.

Alternatively, maybe llvm-config shouldn't report -Werror.  :)

[2013-11-21 08:57] rgov opened #31 "Support Objective-C files"
[code]

Seems that only C and C++ are supported right now.

[2014-05-06 09:36] marxin opened #34 "configure error: cannot compile and link test program with selected LLVM"
Error: g++: error: unrecognized command line option '-Wcovered-switch-default'

GCC 4.8.1 is used as g++ compiler, but it looks the flag is added according to LLVM flags?

Configure log: http://bpaste.net/show/260371/
config.log: http://bpaste.net/show/260374/

I hope it's not necessary to have LLVM as system default compile instead of GCC?

Thank you

[2014-05-07 19:06] #28 closed, assigned to eeide

[2014-05-09 10:06] #34 closed, assigned to eeide

[2014-05-10 21:26] regehr opened #35 "include topformflat"
Requiring Delta to be install just to get topformflat is silly, we should include topformflat and build and install it by default.

[2014-05-28 06:22] 0-wiz-0 opened #36 "creduce-2.1.0 does not compile against clang-3.4"
When compiling the latest release against clang-3.4.0, I see:

[code]

and other problems. I guess this is due to differences between 3.3 and 3.4. The git version seems to depend on llvm-3.4 instead. Can you please make a new release?

[2014-06-06 18:21] jrmuizel opened #37 "clang_delta crashes on the following file"
http://people.mozilla.org/~jmuizelaar/creduce-crash.cc
In asserts build of llvm it fails the "queried property of class with no definition" assert

[2014-06-08 10:03] #37 closed, assigned to chenyang78

[2014-06-08 10:05] #27 closed, assigned to nobody

[2014-06-09 15:14] jrmuizel opened #38 "clang_delta --query-instances=remove-unused-function crashes on the following file"
New crash.
clang_delta --query-instances=remove-unused-function
http://people.mozilla.org/~jmuizelaar/creduce-crash-nsContent-utils.cc

It looks like infinite recursion.

[2014-06-09 19:52] jrmuizel opened #39 "clang_delta --query-instances=replace-function-def-with-decl hits assert"
clang_delta: ReplaceFunctionDefWithDecl.cpp:254: void ReplaceFunctionDefWithDecl::rewriteOneFunctionDef(const clang::FunctionDecl*): Assertion `!Ctor->isDefaulted() && "Implicit Def!"' failed.

http://people.mozilla.org/~jmuizelaar/creduce-crash-module2.cc

[2014-06-10 08:56] #38 closed, assigned to nobody

[2014-06-10 08:57] #39 closed, assigned to nobody

[2014-06-11 21:34] jrmuizel opened #40 "clang_delta --query-instances=replace-function-def-with-decl crashes"
Here's the file
http://people.mozilla.org/~jmuizelaar/creduce/HTMLLinkElement-360595.cpp.gz

[2014-06-12 08:32] #40 closed, assigned to nobody

[2014-08-08 20:06] jsonn opened #41 "Reduction for C preprocessor"
It would be nice if creduce could handle #if and friends as the normal line based approach doesn't work on the multiline nature of such blocks. This even prevents empty statements from being removed.

[2014-08-15 15:36] #36 closed, assigned to eeide

[2014-08-29 14:01] octoploid opened #42 "exit when file size reaches zero"
Creduce will happily create millions of files in /tmp if the size
of the testcase reaches zero and one doesn't hit Ctrl-c quick enough.

What about the following crude patch?

[code]

[2014-09-19 10:21] #42 closed, assigned to regehr

[2014-10-23 09:44] octoploid opened #43 "Time to drop indent and astyle?"
clang_format has matured a lot. Are astyle and indent still necessary?

[2014-11-06 16:56] octoploid opened #44 "Provide self-contained, static version for download"
On irc/oftc #gcc people frequently ask for a static,
self-contained build of creduce, with no external dependencies.

So it would be great if at least an x86_64 version would be
available somewhere.

(I've build a static version on POWER8 by hand today, and it was
a lot of work unfortunately.)

Thanks.

[2014-11-25 05:37] other-mickk opened #45 "Simplify C++11 alias templates"
creduce doesn't seem to understand alias templates, so for instance the following

[code]

will reduce (when checking for e.g. "expecting ',' or ';'", with GCC) to

[code]

whereas `int data[]` would be an equivalent and shorter (a one-liner, even) program exhibiting the same 'error'. Performing this simplification by-hand allows creduce to continue, yielding `int a {}` as a final program.

I hope

[2014-12-03 05:45] ehsan opened #46 "Test case not completely minimized"
I used creduce to minimize a large test case to the following code:

[code]

But a smaller test case is:

[code]

I'm not sure if this is a limitation of creduce that it could not reduce the test case further, but filing this anyway.

[2014-12-08 19:18] vsukharev opened #47 "Segmentation fault"
Dear sirs,
## this snippet reproduces Segmfault for version 8a44607c13ca61008fec87cf120c20c76ce4477f
# define gFSIZE1 4092

   ;

  ;
int stPtr_1_1;
int stPtr_1_0;
volatile int stPtr_0_1;
volatile int stPtr_0_0;
void
gFunc2_1 ( v3 ) {
  }
# define _GPAL_ASSERT(v1, v2, v3, v4)    ((v1? 1:(gFunc2_1(),0)))
# define gFunc2(v1,v2)                                   _GPAL_ASSERT(v1, ,  , )

  int
gFunc1

[2014-12-08 19:25] vsukharev opened #48 "terminate called after throwing an instance of 'std::bad_alloc'"
Dear sirs,
this example crashes creduce version 8a44607c13ca61008fec87cf120c20c76ce4477f with msg
terminate called after throwing an instance of 'std::bad_alloc'
  what():  std::bad_alloc
Aborted (core dumped)
# I'm working on Xubuntu 12.04, and creduce is working good, except for this and previous bug
# define gFSIZE1 4092

   ;

  ;
int stPtr_1_1;
int stPtr_1_0;
volatile int stPtr_0_1;
volatile

[2014-12-29 21:42] #47 closed, assigned to nobody

[2014-12-29 21:44] #48 closed, assigned to nobody

[2015-01-06 14:37] UnixJunkie opened #49 "llvm-config-3.5 command instead of llvm-config in the configure file"
At least on Ubuntu 14.04.1 LTS that seems needed.

[2015-01-06 14:47] UnixJunkie commented on #44
That would be pretty useful for users.
I am also currently fighting to get creduce compiled on my machine.

[2015-01-06 15:00] UnixJunkie commented on #49
libedit-dev was also missing in the list of packages to install for Ubuntu

[2015-01-06 15:02] UnixJunkie commented on #49
package libclang-3.5-dev also, but this one was detected missing at compile time, not at configure time

[2015-01-06 15:06] UnixJunkie commented on #49
Still not compiling:

    RemoveUnusedFunction.cpp:657:8: warning: ‘auto’ changes meaning in C++11; please remove it
    [-Wc++0x-compat]

[2015-01-06 15:10] UnixJunkie commented on #49
What is the correction to remove the auto keyword from here:

    for (auto *I : Ctx->using_directives()) {

[2015-01-06 15:11] UnixJunkie commented on #49
@pippijn any idea from someone near my timezone? ;)

[2015-01-06 15:20] regehr commented on #49
Hi Francois, as the INSTALL file suggests, you should download the LLVM binary tarball instead of using the Ubuntu package. Please give that a try and let us know if it doesn't work for you. The INSTALL file also mentions libedit-dev in around the same place.

[2015-01-06 15:21] pippijn commented on #49
Without testing, my guess would be:
`for (clang::UsingDirectiveDecl *I : Ctx->using_directives()) {`

[2015-01-06 15:22] pippijn commented on #49
But that's a warning, so why doesn't it compile?

[2015-01-06 15:26] regehr commented on #49
I can't tell you guys what to do, but I would like to suggest getting the dependencies right rather than hacking the code.

[2015-01-06 15:27] eeide commented on #49
Thank you for reporting this issue! I will investigate updates to the configure scripts.

[2015-01-06 15:32] UnixJunkie commented on #49
OK, I'll give a try at the llvm binary tarball, since I have an allergy to C++. :)

[2015-01-06 15:34] regehr commented on #49
So do we.

[2015-01-06 15:51] UnixJunkie commented on #49
You may disregard what I said earlier for the configure file since llvm-config-3.5 is not the command provided by the clang+llvm binary tarball that you suggest to use instead of the system-wide packages

[2015-01-06 15:51] pippijn commented on #49
Re: allergy: https://paste.xinu.at/AW9rrW/cpp

[2015-01-06 15:52] UnixJunkie commented on #49
I had almost forgotten how much C++ takes time to compile ...

[2015-01-06 15:53] UnixJunkie commented on #49
I could compile !!! thanks for the help in here.
Now I will try to use creduce productively. :)

[2015-01-06 15:54] UnixJunkie commented on #49
As said in another thread, providing binary creduce packages for users would help.
I guess that's why the LLVM people do it.

[2015-01-06 16:00] UnixJunkie commented on #44
Also, provinding packages for Ubuntu/Debian would be nice.

[2015-03-19 13:59] marxin opened #51 "replace-function-def-with-decl crashes for given input"
I use LLVM 3.7.0 with latest creduce revision.

To reproduce:

clang_delta --query-instances=replace-function-def-with-decl mytestcase.ii

Backtrace:
Program received signal SIGSEGV, Segmentation fault.
0x00000000015c5a64 in clang::FunctionDecl::isNoReturn() const ()
Missing separate debuginfos, use: zypper install libgcc_s1-debuginfo-4.8.3+r212056-2.2.4.x86_64 libncurses5-debuginfo-5.9-52.2.3.x86

[2015-03-19 14:02] marxin commented on #51
Link to source file:
http://uclibc.org/~kraj/webkit.cpp.tar.bz2

[2015-03-19 14:15] octoploid commented on #51
And BTW in my experience creduce crashes quite often in the these two passes:
replace-function-def-with-decl and remove-unused-function.
It would be nice if creduce would just skip to pass_lines in this case, instead of exiting early.

[2015-03-21 22:09] chenyang78 commented on #51
@octoploid Yes, I agree with you. I saw the same early-exit a couple of times. I've checked in a fix. Thanks for bringing it up!

[2015-03-26 07:28] chenyang78 commented on #51
Hmm, this one is a bit trick to fix. Let me check what I could do for it.

Thanks for reporting it to us, @marxin

[2015-03-26 16:16] octoploid opened #52 "single threaded multidelta faster than parallel pass_lines pass"
Running multidelta on a testcase is often much faster than
the pass_lines pass that runs in parallel in creduce.

(Jakub Jelinek claimed this on IRC, and at first I could not believe it.
But my measurements confirmed this.)

[2015-03-26 17:12] regehr commented on #52
One possibility is that delta starts at the back of the file and (IIRC) C-Reduce's line pass starts at the front. I tried it both ways and didn't see much of a difference, but of course I might have been looking at the wrong test cases.

Please hack your C-Reduce slightly by setting the $BACKWARD variable in pass_lines.pm to true, and let us know if that makes a difference. (I hope backwards mode

[2015-03-26 18:07] octoploid commented on #52
I always set "my $BACKWARD = 1;" in creduce/pass_lines.pm.
So that probably doesn't make any difference.

One example is the testcase I'm currently trying to reduce:
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=65588

    % wget trippelsdorf.de/testcase.tar.bz2

[2015-03-26 18:09] octoploid commented on #52
Sorry, I've posted the wrong gcc bug link. This one is correct:
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=65549

[2015-03-26 18:27] octoploid commented on #52
Although in this particular case -flto=8 might slow down creduce's
parallel execution (on an 8 core machine).
But any big (say >6MB) testcase should demonstrate the issue.

[2015-03-26 18:28] regehr commented on #52
Thanks Markus, I'll look into this when I get time. There doesn't seem to be any reason why C-Reduce should be systematically slower than multidelta.

Note that there's a big element of getting lucky in testcase reduction, we've noticed this when comparing multiple C-Reduce versions. Sometimes one version will be better than the previous release for most inputs but there are almost always some cas

[2015-03-26 18:29] regehr commented on #52
Yeah the first thing I would do when comparing delta vs. C-Reduce is to turn off parallel mode.

[2015-03-26 18:36] regehr commented on #52
Markus please also send the multidelta commands you are using.

[2015-03-26 18:47] octoploid commented on #52
multidelta -level=0 ./check.sh tcp_client.ii
v.s
    creduce ./check.sh tcp_client.ii
(replace-function-def-with-decl and remove-unused-function will crash, so creduce starts with
"pass_lines 0".)

[2015-04-30 20:11] tamird opened #53 "Release a version that supports LLVM 3.6"
The latest release, 2.2.1, fails with LLVM 3.6 with:
[code]

See:
https://github.com/Homebrew/homebrew/pull/37260#issuecomment-97947784
http://bot.brew.sh/job/Homebrew%20Pull%20Requests/25183/version=mavericks/console
http://bot.brew.sh/job/Homebrew%20Pull%20Requests/25183/version=yosemite/console

Looks like master also fails to compile against LLVM 3.6: https://gist.github.com/tamird/881e2bf7f2b

[2015-04-30 21:40] regehr commented on #53
I've updated the master branch so that it compiles against LLVM 3.6. I don't have a Mac at the moment so I've only tested on Ubuntu. Please check on your Mac, tamird.

[2015-04-30 21:42] #49 closed

[2015-04-30 22:02] regehr commented on #53
tamird, you additionally do not appear to have any of the required perl modules installed. Please see our INSTALL file for a full list of dependencies.

checking for perl module Benchmark::Timer... no
checking for perl module Exporter::Lite... no
checking for perl module File::Which... ok
checking for perl module Getopt::Tabular... no
checking for perl module Regexp::Common... ok
checking for perl

[2015-04-30 22:12] tamird commented on #53
Yeah, the perl module are installed in a special place. Anyway, this works! Let's release it :)

[2015-04-30 22:16] regehr commented on #53
Eric, can you do a 2.2.2 release? I think all that is required is a very minor update to INSTALL.

[2015-05-01 00:12] tamird commented on #53
@eeide ^

[2015-05-01 06:02] eeide commented on #53
John Regehr <notifications@github.com> writes:

Sure, I will do this --- but I am likely to call it 2.3.  That would be more in
keeping with the version-management scheme that we have.

Eric.

--
-------------------------------------------------------------------------------
Eric Eide <eeide@cs.utah.edu>  .         University of Utah School of Computing
http://www.cs.utah.edu/~eeide/ . +1 (801) 58

[2015-05-05 12:52] tamird commented on #53
@eeide any progress on this? homebrew's update to LLVM 3.6 is blocked on this at the moment.

[2015-05-05 13:07] eeide commented on #53
I still need to test the current version. I will be able to do this later this week; I am traveling now. You can help by testing it, too.

[2015-05-06 12:01] tamird commented on #53
I set up a minimal CI here: https://github.com/csmith-project/creduce/pull/54

[2015-05-10 01:09] eeide commented on #53
Done! See tag creduce-2.3.0

[2015-05-10 01:09] #53 closed

[2015-05-30 06:28] DomT4 commented on #53
May need a new release again. Same failure this time around for the `3.6.1` LLVM release a few days ago.

[code]

[2015-05-30 13:29] eeide commented on #53
Thanks! We aim to keep the master branch of C-Reduce is sync with the current released version of LLVM. I'll investigate what needs to be done to C-Reduce for compatibility with LLVM 3.6.1.

@DomT4: At first glance, the behavior that you are reporting sounds like a Homebrew packaging issue, not a problem with C-Reduce's implementation w.r.t. LLVM 3.6.1. I could be wrong about that, though.

[2015-05-30 13:37] DomT4 commented on #53
Thanks. I'll bump the package and force it to build from source. It could be that the binary we produce has the expected LLVM version hardcoded in somewhere.

[2015-05-30 18:17] DomT4 commented on #53
Yeah, that was it. I'd presume that part of the `prereqs` is a hardcoded LLVM version linked to `creduce`?

[2015-05-30 19:09] eeide commented on #53
I guess so. Let me preface the rest of this answer by saying that I don't install LLVM or C-Reduce via Homebrew, so anything I say about how those things are packaged might be wrong.

One of the tools in C-Reduce, "clang_delta", links against internal LLVM libraries. It locates these libraries and figures out how to link to them by invoking LLVM's "llvm-config" tool. We link against the shared lib

[2015-06-08 15:52] mpflanzer opened #56 "Error in clang_delta Makefiles"
The latest commit (96e284096a98c67ec5af8d70837b059825500183) introduced two mistakes in the Makefile.am and Makefile.in in clang_delta. After each change there is a backtick (`) too much and causes parsing errors in the bash shell. I added comments to the commit as well.

[2015-06-08 17:37] eeide commented on #56
Argh! Fixed, I think. Thank you for reporting this.

[2015-06-08 17:44] mpflanzer commented on #56
Yes, fixed. ;-)

[2015-06-08 17:44] #56 closed

[2015-07-16 01:13] nth10sd opened #61 "OOPS: pass_indent::regular failed to modify the test case"
Testcase 703.js:
[code]

Script test703.sh:
[code]

Run:
```creduce --sllooww test703.sh 703.js```

Halfway through result:
OOPS: pass_indent::regular failed to
modify the test case, which means you have
encountered a bug in C-Reduce. Please consider
mailing /Users/skywalker/Downloads/aa20150715/creduce_bug_379731 to
</snip>

creduce_bug_379731 :
[code]

creduce version:
[code]

Note that creduce

[2015-07-16 01:13] nth10sd commented on #61
Ref: https://bugzilla.mozilla.org/show_bug.cgi?id=1184389

[2015-08-02 06:48] ptzafrir opened #66 "C-reduce can't reduce this simple example"
After reducing a test case, I noticed C-reduce misses some simple transformations.
To demonstrate, the following code example:
[code]
Test script
[code]
Is reduced to:
[code]
* the #ifndef and #endif can be removed
* the class can be changed to struct
* typename F can be removed from the template
* the template could be replaced with the only instantation with the type \<char *\>

this would resul

[2015-08-02 19:35] regehr commented on #66
The failure to remove easy preprocessor stuff is somewhat expected-- we generally reduce preprocessed code, so have never focused on this problem. It's probably not too difficult to solve, perhaps as a new pass, if you have time to implement it @ptzafrir.

The rest of the issues are probably best resolved by seeing why clang_delta didn't remove them. I'm not sure if @chenyang78 has time for that t

[2015-08-04 04:54] chenyang78 commented on #66
Thanks for reporting the issue, @ptzafrir.

I will try to get time to investigate these issues.

[2015-08-04 07:11] EfiHerbst opened #68 "Endless loop"
Hi,

When running creduce on the following .c file, with the attached script, I get an endless loop after pass_clang :: local-to-global:
[code]
Test.sh
[code]
e_enc.c
[code]

Thank you!

[2015-08-04 07:13] regehr commented on #68
Ugh, thanks, we'll look into it.

[2015-08-04 08:42] chenyang78 commented on #68
Thanks for reporting the issue, @EfiHerbst

Should be fixed in a5ead7f.

[2015-08-04 08:42] #68 closed

[2015-08-04 10:48] EfiHerbst commented on #68
Thank you for the quick response, @regehr @chenyang78

[2015-09-15 09:49] ismail opened #69 "Does not compile with LLVM SVN"
I know supporting ever-changing LLVM API is not easy but this would be nice to check for known crashes with newer llvm versions. Here is the build error:

[code]

Fix is using lower-case "initializeBuiltins" for llvm >= 3.8.0

[2015-09-15 09:53] regehr commented on #69
ismail, could you please send a pull request to our llvm-svn-compatible branch? that is where we try to track the latest LLVM.

[2015-09-15 09:56] ismail commented on #69
@eeide was faster :) https://github.com/csmith-project/creduce/commit/0df87ff60d5c5df528feaeae16d5ad9c2741eeb5

Thanks!

[2015-09-15 09:56] #69 closed

[2015-09-15 14:05] eeide commented on #69
As noted, I fixed this issue last night, in commit 0df87ff6. Thank you for reporting it, @ismail!

[2015-09-26 19:42] vgvassilev opened #70 "The master is not usable"
I am trying to use creduce on Yosemite:

[code]

It builds fine then when I try the demo on your page it says:
[code]

I also tried to use creduce-2.3 with clang/llvm toolchain 3.6.2 and ran into the same sort of issues.

The dependencies (configure-wise) seem to be fine. Any ideas what might be wrong?

[2015-09-26 19:56] vgvassilev commented on #70
Got it! I needed to build delta (run make in the delta folder). Perhaps it is better in configure to check for the actual binary located in TOPFORMFLAT instead of checking a folder.

[2015-09-26 19:56] #70 closed

[2015-09-26 20:40] eeide commented on #70
I'm glad that you were able to resolve the problem you were having!

[2015-10-12 17:33] JIghtuse opened #71 "Directory-wide reduce [not-a-bug]"
Hi!
First of all, thanks for creduce! This tool helps me many times.
But there are some cases creduce can't handle. Let's suppose I have some IDE/File manager that crashes opening some directory. It would be great to reduce such directory to find relevant set of files (responsible for crash). Is there tool for this? How hard would it be to implement one? I would be glad to see some hints/posts on

[2015-10-12 17:58] eeide commented on #71
I'm not familiar with a tool that does exactly the thing you are asking about. But it could be fun project to implement such a tool!

The name of C-Reduce's general technique is "delta debugging." If you google for this term, you can find several tools that use this general technique.

The general idea of delta debugging is a search procedure. At every "step," the search tries different things to

[2015-10-12 17:59] eeide commented on #71
Also, we're very glad that you like C-Reduce! Thank you for letting us know.

[2015-10-12 19:30] regehr commented on #71
Hi Boris, I agree with Eric that although C-Reduce isn't the tool you want for IDE crashes, a different tool based on delta debugging should work just fine.

One questions is how to get control of the circumstances leading up to the IDE crash. This is crucial. If the IDE loads everything out of a single directory then that's easy, but if it loads stuff from all over the place you might be forced t

[2015-10-13 21:32] rnburn opened #72 "don't ignore user-specified CXXFLAGS"
In the CMakeLists.txt file, this isn't the proper way to add CXXFLAGS

set(CMAKE_CXX_FLAGS "-std=c++11 -fno-rtti -Wall -Wextra -Wno-long-long -Wno-unused-parameter")

as it ignores those specified on the command line. (See http://voices.canonical.com/jussi.pakkanen/2013/03/26/a-list-of-common-cmake-antipatterns/)

[2015-10-14 07:21] eeide commented on #72
I agree that ignoring user-specified CXXFLAGS is bad.

Is the technique at the referenced web page the right way to resolve this issue? Does a similar fix need to be made for CMAKE_CXX_FLAGS_RELEASE?

I am not a CMake user, so I need advice.

I'll mention that the logic for setting CXXFLAGS the CMakeLists various files is a bit different from that in the Automake files. Notably, (as far as I under

[2015-10-14 13:47] jonashaag opened #73 "Can't run on files in subdirectory"
This

[code]

fails with some [`error in File::Copy::copy`](https://github.com/csmith-project/creduce/blob/7d70aa0c1cc814d83738c034dbd835dc1c6a1619/creduce/creduce.in#L236), while

[code]

works.

[2015-10-14 14:36] regehr commented on #73
Hi Jonas, I don't think this is a bug but rather we probably didn't document very well the assumptions made by the interestingness tests. Actually I was just working on this a few minutes ago -- could you take a look at the "creduce --help" information printed by the master branch? It gives a bit of detail about this.

[2015-10-14 15:33] jonashaag commented on #73
It think it's not clear from the new help either. Maybe you should simply exit with an error if someone attempts to pass in a source file from a subdirectory (or creduce is invoked without any source file that has no path prefix)

[2015-10-14 16:34] regehr commented on #73
You're right. I can't work on this right now but will comment here later once it's better.

[2015-10-14 21:56] regehr commented on #73
Ok, I've unconfused creduce about file paths a bit, commands like this should work now, please test:

[code]

[2015-10-14 21:57] regehr commented on #73
Also I would appreciate feedback (cc @eeide) on the new --help output.

[2015-10-15 03:40] eeide commented on #73
Noted. (I might not get to this for a little bit.)

[2015-10-15 06:59] jonashaag commented on #73
Works for me, thank you!

[2015-10-15 07:01] #73 closed

[2015-10-18 11:40] ptzafrir commented on #66
Are there any improvements with those topics in the current trunk version?

[2015-10-18 12:51] regehr commented on #66
Not that I know of.

[2015-10-18 13:04] regehr commented on #66
I just pushed a change that does the class->struct change.

[2015-10-18 13:07] regehr commented on #66
I know how to remove the preprocessor directives but it's not clear I'll be able to get to it during the next few weeks.

Only Yang can do the template manipulations.

[2015-10-18 15:31] regehr commented on #71
I have C-Reduce reducing multiple files at once, in the multifile branch. It isn't tested very well yet. I'll merge it once I'm more sure that it works.

[2015-10-18 15:31] regehr commented on #61
I believe this is fixed.

[2015-10-18 15:31] #61 closed

[2015-10-18 15:39] regehr commented on #52
Just a note that I'm back to spending some time on C-Reduce lately and will take a look at this issue soonish.

[2015-10-18 15:50] regehr commented on #31
Does anyone have time to try to support ObjC here? Do you @rgov? It doesn't look like probably very much code is required. clang_delta might crash like crazy on objc but perhaps it'll accomplish something...

[2015-10-18 15:50] regehr commented on #35
Closing for now.

[2015-10-18 15:50] #35 closed

[2015-10-18 15:51] regehr commented on #41
Just a note that I'm working on this now.

[2015-10-18 15:52] regehr commented on #43
What do you think about this @eeide?

[2015-10-18 15:55] regehr commented on #44
While I feed bad for not working on this, I'll note that C-Reduce is available from homebrew and also from Ubuntu 14.04, 14.10, and 15.04. Consequently, my motivation is pretty low. Can anyone think of a good reason why we can't just close this and trust the OS packagers to do a decent job here?

[2015-10-18 16:01] regehr commented on #31
@rgov have you tried using C-Reduce on Objective C and ignoring any errors that it reports? My guess this works decently well but I'd like confirmation.

[2015-10-18 19:16] chenyang78 commented on #66
I haven't done anything. Sorry about that!

[2015-10-19 09:03] UnixJunkie commented on #44
Yes, you can close I think.

[2015-10-19 10:57] #44 closed

[2015-10-24 08:33] regehr commented on #52
I'm pretty sure I've found a nasty bug in C-Reduce's line delta, which is silly since I had long considered it debugged. I'll be fixing it soon. It's not 100% clear that it's the reason why C-Reduce is slower than delta but it's certainly not helpful.

[2015-10-24 08:43] regehr commented on #52
Besides bugs there are two reasons why delta might be faster. First, they may have happened to chose a chunk reduction policy that is better. Second, their reducer remembers a lot more about the test case in between transformations. Their code is a bit painful.  C-Reduce's line delta is far simpler but the cost is that it has to recompute things that it could have remembered.

[2015-10-27 22:16] regehr commented on #52
Markus and I have been discussing this issue in email but I thought I'd move the discussion back here before closing this issue.

For the testcase and command line above, delta requires 2:41 to create a 669 KB file. C-Reduce, using the line-pass-rewrite branch, in a similar configuration (three runs of pass_lines with topformflat=0, and no other passes) requires 1:59 to produce a 159 KB file.

Why

[2015-10-27 22:21] regehr commented on #52
The 1:59 time above is for C-Reduce using just one core.

[2015-10-28 16:29] eeide commented on #73
I looked at the new --help output, and I like it a lot! It is excellent.

The only change I might make is to include the short commit hash in the version string at the top. Ala:

I suppose this would go along with implementing --version, too.

[2015-10-28 16:31] regehr commented on #52
Closing-- thanks for reporting this @octoploid

[2015-10-28 16:31] #52 closed

[2015-10-28 16:32] regehr commented on #73
Thanks Eric.

I know you know this is coming.... could you implement the commit hash thing?

[2015-10-28 16:34] eeide commented on #73
Sure, will do this now.

[2015-10-28 16:45] eeide commented on #73
`creduce --help` now says:

[2015-10-28 17:28] eeide commented on #72
Do you have time to investigate this issue in the near future, @mpflanzer ?

[2015-10-28 17:52] eeide commented on #43
Hmm. It is hard for me to judge if clang-format is strictly "superior" for our purpose, especially for ill-formed inputs. (Ill-formed inputs can easily arise, say, if someone is minimizing for a compiler crash.) Frankly, I don't use any of these tools on a regular basis outside of C-Reduce, so I don't have a personal feel for them.

For C-Reduce applied to non-C/C++ code, `astyle` claims to suppor

[2015-10-28 18:03] octoploid commented on #43
As a data point: I've been using clang-format exclusively on several GCC compile farm machines for the last year without running into any trouble.
For C and C++ astyle and indent are obsolete IMHO.

[2015-10-28 18:22] regehr commented on #73
Nice!

[2015-10-28 18:47] regehr commented on #43
Shouldn't it be easy to just drop the astyle and indent passes when these programs aren't detected by configure? I'm happy to do my part of this if Eric does the autocrap.

[2015-10-28 19:18] eeide commented on #43
I wonder it might be preferable for the pass to dynamically configure itself, based on the run-time availability of the tools.

Our Autoconf setup checks for all of the indenters, and if they are found, it remembers where it found them. For each tool that is not found, `configure` prints a warning, but it does not cause the configuration process to fail.

We currently fail at run time, if any one

[2015-10-28 19:25] eeide commented on #43
Heh—I just realized that this issue was opened in October *2014*.

So I guess that `astyle` and `indent` are potentially even *more* obsolete this year!

[2015-10-28 20:29] regehr commented on #43
I like it. This can be handled locally in pass_indent. I'll make it happen.

[2015-10-28 20:45] regehr commented on #43
Was just reading the README. There are a lot of dependencies we could eliminate if we felt like it. Not sure how important that is now that many distros include a C-Reduce.

[2015-10-28 21:26] regehr commented on #43
Ok I have pushed changes to INSTALL and to pass_indent making indent and astyle optional. All seems to be working fine, but now our configure's scripts warnings are too dire, can we tone this way down Eric? Not high priority.

[code]

[2015-10-28 21:31] regehr commented on #71
Multifile reduction seems to be working just fine (and is merged), closing.

[2015-10-28 21:31] #71 closed

[2015-10-28 21:39] eeide commented on #43
Yes, I will tone down the warnings.

[2015-10-28 21:55] eeide commented on #43
@regehr: Your commit leaves `clang-format` as a required run-time dependency. Is that intentional?

[2015-10-28 22:51] regehr commented on #43
Yes, we have a hard dependency on LLVM so this won't hurt anything.

[2015-10-28 23:07] eeide commented on #43
I agree that it is largely moot whether `clang-format` is required or optional. The lack of parallel treatment merely set off my "that's different" detector.

[2015-10-28 23:07] eeide commented on #43
Warnings toned down in commit 9e210c4.

[2015-10-28 23:09] regehr commented on #43
Perfect. Closing. Thanks Eric and Markus.

[2015-10-28 23:09] #43 closed

[2015-10-29 04:27] JIghtuse commented on #71
@regehr, oh, great! Thank you!

[2015-10-29 08:28] octoploid opened #74 "Implement "skip to next pass" key"
One feature that I miss often is the ability to skip to next pass by simply pressing a key (say 's').
Ctrl-c works in some circumstances, but is obviously timing depended and error prone.

[2015-10-29 08:37] regehr commented on #74
Yeah this is a good idea. Maybe also a signal handler that has the same behavior since I most often run slow C-Reduces under nohup so they stay alive if my ssh dies.

Related: something I had on my TODO list was adding a command line option for aborting a pass if it runs for longer than a configurable amount of time. Perhaps both this and the skip key are useful.

[2015-10-29 12:59] regehr commented on #74
FWIW it looks like the easy + right way to get this is to use this module:
http://search.cpan.org/~jstowe/TermReadKey-2.33/ReadKey.pm

[2015-10-31 10:24] regehr commented on #41
I believe this is fixed by the new pass_unifdef

[2015-10-31 10:24] #41 closed

[2015-10-31 18:19] regehr commented on #66
I haven't looked at this particular test case but the CPP directives should be going away now.

[2015-11-01 23:04] regehr commented on #74
Please try it out. Appears to work fine on OS X and Linux.

[2015-11-02 00:19] eeide commented on #74
I have not looked at the patch, but I was wondering if it would be good to have some way to disable this, for when you really want C-Reduce to run in batch mode. E.g., because you're doing a long-running experiment, and you're watching it because you're curious, and you don't want a stray input to affect the outcome.

But maybe a "serious" batch run of C-Reduce wouldn't be connected to a terminal

[2015-11-02 08:00] octoploid commented on #74
Thanks a lot for the quick implementation John!
Works like a charm.

[2015-11-02 08:00] #74 closed

[2015-11-04 21:49] mpflanzer commented on #72
Sorry for my late response. I have been busy with relocating over the last weeks. I will try to have a look this weekend. However, I am also in now way an expert in terms of CMake. ;-)

[2015-11-17 01:52] eeide commented on #72
I believe that @mpflanzer's patch has resolved this issue.

[2015-11-17 01:52] #72 closed

[2015-12-04 18:41] doko42 opened #77 "allow setting the tools used for the tests"
Please allow running specific clang/gcc versions in the tests (patch against the llvm-svn-compatible branch)

[versioned-tools.txt](https://github.com/csmith-project/creduce/files/52376/versioned-tools.txt)

[2016-01-12 14:56] UniQP opened #78 "Copy propagation of a variable affects its own definition"
The file test.txt contains the line
b = a[b];
and the the copy propagation propagates b into its own definition, which leads to
b = a[a[b]];
b = a[a[a[a[b]]]];
b = a[a[a[a[a[a[a[a[b]]]]]]]];
and so on. (It eventually stop doing this but afterwards clang-format uses a lot of memory.)

The issue occurs with creduce-2.4.0. I also attached a check "script".

[test.txt](https://github.com/csmith-projec

[2016-01-12 15:34] regehr commented on #78
Looks like bug is still there in the current version.

[code]

[2016-01-13 10:12] chenyang78 commented on #78
Fixed. Thanks for reporting the issue, Sebastian!

[2016-01-13 10:12] #78 closed

[2016-01-18 21:29] UniQP opened #79 "Segmentation fault in transformation remove-unused-enum-member"
clang_delta --transformation=remove-unused-enum-member --counter=1 test.txt
Segmentation fault (core dumped)

[test.txt](https://github.com/csmith-project/creduce/files/95009/test.txt)

P.S. I used the multifile reduction for this test and it works great :-)

[2016-01-19 05:06] chenyang78 commented on #79
Fixed. Thanks, Sebastian!

[2016-01-19 05:06] #79 closed

[2016-02-01 12:59] UniQP opened #81 "Segmentation fault in transformation empty-struct-to-int"
clang_delta --transformation=empty-struct-to-int --counter=1 test.txt
Segmentation fault (core dumped)

[test.txt](https://github.com/csmith-project/creduce/files/112225/test.txt)

clang_delta --version
clang_delta 2.5.0
Git version: 7ebf7b8

[2016-02-02 08:50] chenyang78 commented on #81
Fixed. Thanks, Sebastian!

[2016-02-02 08:50] #81 closed

[2016-02-10 18:59] vgvassilev opened #82 "clang_delta testsuite"
I have a fix alongside with a tiny example. Is there a way how I can make a regression test for clang-delta.
Ideally I want to run clang_delta like this and compare the output.

```clang_delta --transformation=template-non-type-arg-to-int --counter=1 template_arg_to_int.cxx```

Many thanks!
Vassil

[2016-02-10 19:53] regehr commented on #82
We are unfortunately pretty relaxed about regression testing for C-Reduce. Some regression tests for clang_delta might be a good idea. @eeide and @chenyang78, do you have ideas for how we would want to integrate that sort of thing into our code base?

[2016-02-10 19:55] vgvassilev commented on #82
One option would be following clang's testing infrastructure and integrating lit (http://llvm.org/docs/CommandGuide/lit.html).

[2016-02-10 19:57] chenyang78 commented on #82
Hi Vassil,

Thanks for bringing this up. I've been planning to add unittests for clang_delta for a long time. I feel quite bad I didn't make it happen. I have an ugly testing script along with a bunch of test suites locally. But it doesn't do things as you described. Ideally, we may need something similar to what clang-format does for unit testing. Integrating a unittest framework is on the top of

[2016-02-10 19:57] regehr commented on #82
I've used lit and like it, but I'm reluctant to add yet another dependency to C-Reduce. Unfortunately lit does not seem to be part of binary LLVM installations.

[2016-02-10 20:06] vgvassilev commented on #82
@chenyang78 Thanks for sharing your plans! Soon I will open a PR.

@regehr I agree, they are quite a lot. AFAIK it is python-based and quite flexible. It consists of couple of files and could be even copied (it is fairly stable) in the source tree. Another advantage of lit is that everybody with clang background (like me) can work on clang_delta and add tests right away.

[2016-02-10 20:07] chenyang78 commented on #82
I think we can detect the presence of lit at configuration time (@eeide)?

I had some experience in testing Clang-based rewriting with gtest/CMake/lit (for some other work). Let me try to add similar stuff to clang_delta.

[2016-02-10 20:08] vgvassilev commented on #82
That would be very cool! This way we can have tests focused towards single transformations.

[2016-02-10 20:56] eeide commented on #82
Yes, surely one could do that.

I don't know how valuable that would be—wouldn't one want to be able to run `clang_delta`'s tests even if it was built against an installed version to LLVM?

I've never used `lit`, so I can't offer a more specific opinion right now.

[2016-02-10 21:20] vgvassilev commented on #82
I think tests are most valuable in development and release time. Once people cut the release it is presumed that somebody beforehand ran the tests ;)

[2016-02-11 00:47] chenyang78 commented on #82
@eeide Thanks, Eric. Let me get something done first.

[2016-02-14 09:09] yrnkrn commented on #82
+1 for LIT-based testing. It's well-tested, portable and flexible testing infrastructure.
Documentation and some examples:    http://llvm.org/docs/CommandGuide/lit.html

[2016-02-29 15:52] vgvassilev opened #86 "CMake builds"
It seems that cmake doesn't quite work:
  * It doesn't install creduce in ...bin/creduce
  * It seems there is no creduce script doesn't get created in the build dir.
  * There is one creduce.pl generated but the it's path to the creduce_modules is broken.

Which is the mid/long term build system? I personally prefer cmake, because adding new passes seems easier.

[2016-02-29 16:00] eeide commented on #86
"Patches welcome."

I tend to be the build-system maintainer for C-Reduce. I implemented the Automake-based system, and I don't currently have any plans to abandon it.

The Cmake-based system was contributed to C-Reduce. I don't really know Cmake, but I would like to learn about it, and when I do, I expect to update the Cmake-based build system. I don't plan to abandon it; rather, given LLVM's mov

[2016-02-29 17:00] mpflanzer commented on #86
I created the Cmake system to have a system which can be natively used on Windows.
Therefore it does not create all files required on Linux but some for Windows.
At that point I did not intend to use it for Linuzlx anyway.
If I have some spare time I might be able to update it and add Linux support. But feel free to work on it yourself. ;-)

[2016-03-05 19:06] JVApen commented on #86
Hi all,

I've just started building creduce on linux with CMake. I've noticed that at least 2 executables were not created. You can find a patch in attachment for the changes that do get this working. (Sorry, I'm a subversion person, so I still have to learn to work with git)

[cmake.diff.zip](https://github.com/csmith-project/creduce/files/159986/cmake.diff.zip)

[2016-03-05 19:36] vgvassilev commented on #86
@JVApen could you try my fork, there is a recent progress on cmake also on my fork, maybe you could try it out. It didn't build unifdef and so on...

[2016-03-05 19:48] JVApen commented on #86
Hi vgvassilev, tnx a lot, I've already integrated some of your changes the old way (copy paste). I'll wait until your pull request has been integrated. My current goal with it has been reached, namely checking if a bug in creduce is still there in the trunk version, so I'll be logging it soon.

PS: Be my guest in integrating my patch. (Note: It's also adding a build command for the topformflat exe

[2016-03-05 19:49] vgvassilev commented on #86
@JVApen: thanks, it is in my fork!

[2016-03-05 20:34] JVApen opened #88 "'pass_lines' pass doesn't check if bug is reproducable"
I'm trying to reproduce a bug in clang-tidy (trunk version), when I noticed that my test file is reduced to empty, while reduce.sh doesn't agree with this being a valid case.

I can reproduce this by running following command on the attached files
([reproduction.zip](https://github.com/csmith-project/creduce/files/160007/reproduction.zip))
:
creduce --no-default-passes --debug --add-pass pass_line

[2016-03-05 21:06] JVApen opened #89 "pass_clang :: remove-unused-function removes functions top-down instead of down to top"
When trying to reduce some code, I've noticed that the reduction 'pass_clang :: remove-unused-function' is removing functions from top to bottom instead of vise versa. Doing this the other way around looks more logical.

Consider a cpp file with first a class-definition with pure virtual functions, followed by an implementation of such function, with an override after it. If the script verifies th

[2016-03-05 21:08] regehr commented on #89
Thanks for the observation! We'd welcome a pull request.

[2016-03-05 23:55] regehr commented on #88
I'm trying to repro but on a handy Ubuntu 14.04 machine I can't build LLVM with libcxx, do the errors below ring any bells for you?

[1414/2644] Linking CXX shared library lib/libc++.so.1.0
FAILED: : && /home/regehr/clang+llvm-3.7.0-x86_64-linux-gnu-ubuntu-14.04/bin/clang++  -fPIC  -fPIC -fvisibility-inlines-hidden -Wall -W -Wno-unused-parameter -Wwrite-strings -Wcast-qual -Wmissing-field-initiali

[2016-03-06 10:13] JVApen commented on #88
I think it has to do with linking, though let me just give [my script](https://github.com/csmith-project/creduce/files/160251/llvm_get.sh.zip) which I use to checkout and configure
I guess you can reduce it as you don't need everything.

FYI: The bug I was trying to reproduce/reduce is https://llvm.org/bugs/show_bug.cgi?id=26855, so make sure you get a revision on which it is not yet fixed. (like

[2016-03-06 10:15] JVApen commented on #89
Sorry, I don't know enough perl to make any decent changes; so I've just duplicated the pass in my local checkout

[2016-03-06 16:49] regehr commented on #89
If this could be fixed in Perl I'd do it, but alas it'll have to be fixed in C++.

In any case this issue will only make C-Reduce converge more slowly, it should not affect the final reduced program. C-Reduce repeats the entire pass sequence until it can't reduce the size by even one byte.

[2016-03-08 13:13] regehr commented on #88
Ok finally I reproduced this. I see the same thing happening: C-Reduce nukes the file completely.

However, I also see that your interestingness test gives a zero exit code for the empty file:

[code]

Please check your code again and see if there's a bug hiding in it.

[2016-03-08 19:08] JVApen commented on #88
I've checked once again, with an empty file:   Outfile doesn't contain match 1
echo $?  > 1
If I look at the out.txt generated, this stays empty, so I don't see a reason why this would result in 'Reproduced'

:/tmp/reduce/reduce$ cat t.cpp ; ../reduce.sh
+ for remove in core out.txt t.o compile_commands.json.bak
+ '[' -f core ']'
+ for remove in core out.txt t.o compile_commands.json.bak
+ '[' -f

[2016-03-08 20:53] regehr commented on #88
It looks to me like something in your script is breaking the rules by referring to t.cpp by something other than a relative path to the cwd. C-Reduce runs everything out of throwaway temp dirs, and your script must always look there. Anyway I do not see a C-Reduce bug here.

[2016-03-10 21:01] #88 closed

[2016-03-12 12:15] JVApen commented on #89
@regehr That ain't the behavior that I was noticing, as the pure virtual calls only were removed after I ran the pass again. Though if that is indeed the intended behavior, I guess I'm gonna close this one as it would only improve the performence.

[2016-03-12 12:15] #89 closed

[2016-03-24 12:08] yrnkrn opened #90 "unifdef can't build on Windows"
It requires the non-standard `err.h`. This patch allows the code to compile and link:
[code]

[2016-03-24 12:15] regehr commented on #90
Thanks, applied.

We would appreciate any Windows testing work that you have time to do, since the main C-Reduce people are all somewhat Windows-impoverished at the moment.

[2016-03-24 12:15] #90 closed

[2016-04-21 20:58] JVApen commented on #86
Any progress on getting this integrated in trunk/master?

[2016-04-21 21:00] vgvassilev commented on #86
Well, not really. I need to do quite a lot of cherry picking and I am a little busy nowadays.

[2016-04-22 01:43] eeide commented on #86
Hi! The short answer to @JVApen's question is no:

I've postponed work on updating the CMake-based build until after I get the next release of C-Reduce done. (Just yesterday I updated the `INSTALL` file with a note to this effect.) After the release is done, I will get back to working on the CMake stuff.

Sorry.

[2016-04-22 11:17] JVApen commented on #86
No problem, I just was trying to get an idea about it.

[2016-04-22 22:11] eeide opened #92 "clang_delta doesn't link on FreeBSD 10.2"
With current master (`f137b2e4`), on FreeBSD 10.2, with installed package of clang38:

[code]

Compiles but fails to link.  Error output:

[code]

[2016-04-22 22:13] eeide commented on #92
The impossibly long linker line:

[code]

[2016-04-22 22:24] eeide commented on #92
Hey @chenyang78, I don't suppose you see the library that is missing? :wink:

I haven't tried to track in down yet.

[2016-04-23 06:36] chenyang78 commented on #92
Hmm, I don't see any missing parts. A quick googling took me to this place:

    https://forums.freebsd.org/threads/53253/

They had the same failure symptom, and they resolved their issue by

    "deinstall llvm36
    reinstall clang36"

Perhaps C-Reduce relies on ```clang38``` instead of ```llvm38```? For example, the ```llvm38``` package might not include all the Clang-related libs.

[2016-04-23 13:23] eeide commented on #92
Thanks, @chenyang78, I'll experiment with that.

(BTW, I did install the clang38 package in my experiment, not just llvm38.)

[2016-04-25 21:18] eeide commented on #92
My current experiments suggest that one can fix the linking problem by adding the following to the start of `clang_delta_LDADD`:

`-lclangStaticAnalyzerFrontend -lclangStaticAnalyzerCheckers -lclangStaticAnalyzerCore`

This is just a progress note. I'm still experimenting with the FreeBSD 10.2 build.

[2016-04-25 23:05] eeide commented on #92
Commit 1bed80d0 adds the above libraries to the `clang_delta` link line.

[2016-04-25 23:22] #92 closed

[2016-04-26 05:46] chenyang78 commented on #92
Thanks for resolving the issue, @eeide !

[2016-05-11 15:33] eeide commented on #77
Done in commit a7d703ab.
Thanks, @doko42!

[2016-05-11 15:33] #77 closed

[2016-06-11 18:57] maxim-belkin opened #94 "Inconsistent 2.5.0 release tarball"
There is a difference between 2.5.0 tarball file that is provided here on github and the one on utah.edu website:
[code]

[2016-06-11 19:44] eeide commented on #94
Hi! These differences are intentional.

The rest of this message explains the differences, but in short: the content of the two tarballs is "basically the same," and C-Reduce 2.5.0 should work the same regardless of which tarball you use.

My nutshell recommendation: If you want an "official release" of C-Reduce, or if you want to repackage C-Reduce (say, for some Linux distro), I'd suggest that y

[2016-06-11 19:46] eeide commented on #94
Let me know if the previous comment addresses your questions. If it does, then I will close this issue. Thanks!

[2016-06-11 21:04] maxim-belkin commented on #94
Yes, thanks for explaining! It might be good either to name them differently (suffix?) or add this note somewhere :)

[2016-06-11 21:04] #94 closed

[2016-06-11 21:06] regehr commented on #94
I agree-- let's use different names.

[2016-06-11 21:15] eeide commented on #94
OK, I will call the release tarball something else in the future. Thanks—

[2016-06-11 22:31] regehr commented on #66
Current output.

[code]

[2016-06-14 20:51] regehr commented on #66
Current output-- one more case left to handle.

[code]

[2016-06-15 07:04] regehr opened #96 "crash"
I'm getting a null ptr deref at RenameCXXMethod.cpp:568, it's easy enough to work around by checking for null but I don't want to ignorantly patch around a bug that needs to be fixed elsewhere.

[code]

[2016-06-15 19:03] regehr opened #97 "inliner bug"
Here's one where the simple inliner almost works, but turns main() into a template function! Would be nice to fix some of these cases...

[code]

[2016-06-15 19:09] chenyang78 commented on #96
John, do you have a test case for this issue? Thanks.

[2016-06-15 19:10] regehr commented on #96
Argh I think I deleted it, but this came up often in a batch of reductions so I'll post one soon.

[2016-06-16 08:14] chenyang78 commented on #97
Fixed. Thanks.

[2016-06-16 08:14] #97 closed

[2016-06-16 15:05] regehr commented on #66
Well this certainly took a while but with Yang's latest patch we produce this:

[code]

[2016-06-16 15:05] #66 closed

[2016-06-20 13:43] regehr commented on #46
Closing since I can't reproduce anymore, sorry! In general I want us to fix this sort of thing.

[2016-06-20 13:43] #46 closed

[2016-06-22 00:25] eeide commented on #86
Today I pushed a large update to C-Reduce's CMake-based build system (commit 3064d2c).

The update make the CMake-based build system more complete, and it makes it work a lot more like the Automake-based build system.

Please give it a try to see if it works for you!

[2016-06-22 01:28] eeide opened #99 "Missing copyright and license statements in new files"
These files, which were added at commit a55522a, are missing comment headers with copyright and license information.

@mortior, I would welcome a pull request from you to address this issue. Alternatively, if you tell me here that these files can be licensed under the same terms as the rest of C-Reduce, I will insert the appropriate notices myself.

(C-Reduce is primarily licensed under the Univer

[2016-06-22 14:06] #99 closed

[2016-06-23 04:22] chenyang78 commented on #86
I tried it with CMake 3.5.2 on my Ubuntu box. It works like a charm. Thanks, Eric!

[2016-06-23 06:38] chenyang78 commented on #86
Hmm, actually one nit-pick: seems "git commit" can fail the incremental build. See if you can reproduce the behavior by following the steps below:

(0) assume that we successfully build creduce via "make" in a build dir;
(1) edit a clang_delta file, e.g. ReturnVoid.cpp;
(2) cd cmake/build/dir
(3) make
(4) cd -
(5) git commit ReturnVoid.cpp
(6) cd cmake/build/dir
(7) make

The "make" command at ste

[2016-06-23 14:13] eeide commented on #86
Yang Chen <notifications@github.com> writes:

Thanks; I know about this issue.  See the commit message for 3064d2c.

The issue is that the CMake-based build system is smart enough to detect the
change to the compiler options, which triggers a recompilation of every C/C++
file.

The best way to resolve this is to change the way that we pass the git hash
into the binary.  Instead of communicating it

[2016-06-23 20:10] chenyang78 commented on #86
I see. Thanks for the extra explanation.

- Yang

On 2016-06-23 07:13, Eric Eide wrote:

[2016-06-25 18:38] eeide commented on #86
Eric Eide <eeide@cs.utah.edu> writes:

FYI: I have implemented this, but not yet pushed it up.  After I test it a bit
more, I will push up my fix.

--
-------------------------------------------------------------------------------
Eric Eide <eeide@cs.utah.edu>  .         University of Utah School of Computing
http://www.cs.utah.edu/~eeide/ . +1 (801) 585-5512 voice, +1 (801) 581-5843 FAX

[2016-06-25 20:20] eeide commented on #86
Testing done. The recompile-almost-everything-on-commit behavior of the CMake-based build system should be fixed as of commit 9b0d493.

@chenyang78, please try it out and see if it works properly for you.

[2016-06-26 06:54] chenyang78 commented on #86
On 2016-06-25 13:20, Eric Eide wrote:

It works. Thanks for the prompt fix!

- Yang

[2016-07-01 19:43] eeide commented on #86
The CMake-based build system seems to be working well, so I am going to close this issue.

I am also going to close pull request #87.

Thank you to everyone who contributed to the CMake-based build system!

[2016-07-01 19:43] #86 closed

[2016-07-12 22:06] regehr opened #101 "building on ubuntu 16.04"
on ubuntu 16.04 I can build a working C-Reduce using clang++ as the C++ compiler, but it won't build using the default C++ compiler, gcc-5.3.1

[code]

[2016-07-12 22:40] eeide commented on #101
John Regehr <notifications@github.com> writes:

I had a similar problem with GCC 5 a while ago:
http://www.flux.utah.edu/listarchives/creduce-dev/msg00271.html

Let me dig up the response...

--
-------------------------------------------------------------------------------
Eric Eide <eeide@cs.utah.edu>  .         University of Utah School of Computing
http://www.cs.utah.edu/~eeide/ . +1 (801) 585

[2016-07-13 09:08] pmatos opened #102 "LAST_KNOWN_WORKING_LLVM unavailable"
In the `INSTALL` file it is mentioned that somewhere there's a `LAST_KNOWN_WORKING_LLVM` but this seems not to exist.

[2016-07-24 15:53] regehr commented on #102
Fixed, thanks.

[2016-07-24 15:53] #102 closed

[2016-08-02 13:07] mpflanzer opened #112 "Variable name clash after SimpleInliner transformation"
I noticed that the SimpleInliner transformation creates invalid test cases when the name of a function parameter already exists in the outer scope into which the function is inlined. For instance the following test case
[code]
is transformed by `clang_delta --transformation=simple-inliner --counter=1 ./test.cl` into:
[code]
The variable `p_886` is now declared twice and conflicts. The solution wou

[2016-08-02 15:14] regehr commented on #112
Thanks for looking into this Moritz! I have been seeing lots of cases where the inliner should have fired and had been meaning to look into it but hadn't had a chance yet. Inlining is one of those programming jobs that seems super easy but isn't...

[2016-08-02 15:34] regehr commented on #101
Doesn't work when linking against LLVM 3.8.1 either. Let's make sure to include a note about this in our install file before doing another release.

[2016-08-02 16:05] regehr commented on #101
Nor can I build C-Reduce's llvm-svn-compatible branch on Ubuntu 16.04 using the default gcc. Argh.

[2016-08-02 18:04] mpflanzer commented on #112
I had some time and hacked a few bits together: https://github.com/mpflanzer/creduce/commit/1cdf574ca8593cb4d9b428cb88eb69b2c9410a03

Not really nice but it seems to work and does the transformation like I suggested above. Eventually the SimpleInliner needs a bit of cleanup and then I might be time took at the idea with adding label to simulate the return. Problem with that is that the label name

[2016-08-02 19:43] chenyang78 commented on #112
@mpflanzer Thanks for the quick fix! I will take a look at it tonight.

[2016-08-02 19:51] chenyang78 commented on #101
Might relate to the issue discussed here:

https://www.bountysource.com/issues/29193004-link-errors-on-debian-sid

[2016-08-02 22:02] regehr opened #113 "template hell"
below is the fully reduced version of test case 00 in this repo:

https://github.com/regehr/compiler-crashes

it seems clear that we have some work to do on simplifying template code (I think we all knew this but I wanted to provide an actionable test in case anyone has time to look into it)

[code]

[2016-08-03 08:44] chenyang78 commented on #112
@mpflanzer Inspired by your patch, I fixed the issue in a slightly different way. Instead of keeping track of the parameter with conflict and renaming all of its occurrence, the committed fix added another scope where the conflicting argument is assigned to a temporary variable, which is then assigned back to the corresponding "parameter". For example, applying ```./clang_delta --transformation=si

[2016-08-03 08:44] #112 closed

[2016-08-03 20:10] eeide commented on #101
I am experimenting with this now.

The current C-Reduce (87f9674) builds and runs for me with:
  * Ubuntu 16.04 LTS
  * the current LLVM 3.8.0 binaries from apt (http://apt.llvm.org/)
  * GCC 5.4.0 (`g++ (Ubuntu 5.4.0-6ubuntu1~16.04.1) 5.4.0 20160609`)

The process of installing the binaries from apt updated GCC.

[2016-08-03 20:15] regehr commented on #101
Eric maybe you could also confirm that C-Reduce fails to build using the binary clang+llvm distributed at llvm.org?

[2016-08-03 20:15] regehr commented on #101
I installed clang-3.8 using apt and now I get this:

[code]

[2016-08-03 20:18] eeide commented on #101
@regehr The binary packages from apt don't work with our CMake-based build system, because their CMake defs are broken. Use the Autoconf-based build system.

[2016-08-03 20:19] eeide commented on #101
(I miss threads in this forum.) I am testing with the precompiled binary from http://llvm.org/releases/download.html now.

[2016-08-03 20:24] chenyang78 commented on #101
With default GCC on Ubuntu 16.04, I got the same failure as described in John's first comment. However, I successfully built clang_delta by manually appending ```-D_GLIBCXX_USE_CXX11_ABI=0``` to ```DEFS``` in the generated clang_delta/Makefile.

[2016-08-03 20:32] eeide commented on #101
@chenyang78 ...building against LLVM acquired/compiled how?

[2016-08-03 20:36] chenyang78 commented on #101
@eeide That's a good question...

[2016-08-03 20:45] regehr commented on #101
Hmm. I just configured like this:
[code]
using the supplied gcc-5.4 and the clang+llvm 3.8.1 from the LLVM web site and ended up with this:
[code]
This is fewer errors than I get without that extra CXX flag.

[2016-08-03 20:54] regehr commented on #101
binary LLVM 3.8.0 from their site gives same error.

[2016-08-03 21:01] eeide commented on #101
I hate linkers.

[2016-08-03 22:42] eeide commented on #101
Without going into too much gory detail, the general conclusion of my experiments today is the same as what @regehr originally reported: that one cannot compile `clang_delta` against LLVM's available-for-download binaries (those at http://llvm.org/releases/download.html) using GCC (5.4.0) under Ubuntu 16.04.

It works to compile against the LLVM 3.8.0 nightly build (from http://apt.llvm.org/) with

[2016-08-03 22:50] regehr commented on #101
As far as I'm concerned, we should just recommend that C-Reduce be built using clang++ if any problem like this is encountered. This doesn't fail on any platform that I'm aware of. We can go back to recommending GCC once everyone gets their issues figured out.

[2016-08-03 22:56] eeide commented on #101
Agreed!

[2016-08-04 00:02] chenyang78 commented on #101
Thanks, Eric.

I built my LLVM 3.8 locally with GCC 4.8 before I updated my system to Ubuntu 16.04. I guess this made the ```_GLIBCXX_USE_CXX11_ABI=0``` trick work for me.

I also agree with John's last comment.

[2016-08-09 07:35] octoploid commented on #113
Another example (https://gcc.gnu.org/bugzilla/show_bug.cgi?id=72457):
[code]

can be hand reduced to:
[code]

[2016-08-09 16:04] regehr commented on #113
Thanks Markus, that's a great example. I wonder how many new transformations are needed to get to your hand-reduced version.

[2016-08-09 18:56] chenyang78 commented on #113
On 2016-08-09 00:35, octoploid wrote:

Thanks, Markus.

One big missing part in the current C-Reduce is the ability to process
some commonly-used C++11 features such as lambda, variadic templates and
decltype. I will see what I can do for it when I have spare time.

- Yang

[2016-08-09 22:05] #96 closed

[2016-08-14 09:25] oriceemple opened #115 "ENABLE_TRANS_ASSERT should not be disabled in CMakeLists.txt"
Commit `a12b363c` set ENABLE_TRANS_ASSERT to OFF. This causes asserts to exit(0) instead of failing, which causes creduce's pass_cdelta to enter an infinite loop for passes that assert.

[2016-08-14 09:25] oriceemple opened #116 "ENABLE_TRANS_ASSERT should not be disabled in CMakeLists.txt"
ENABLE_TRANS_ASSERT is set to OFF, this causes asserts to exit(0) instead of failing, which causes creduce's pass_cdelta to enter an infinite loop for passes that assert.

[2016-08-14 12:11] oriceemple commented on #115
Duplicate, closing

[2016-08-14 12:11] #115 closed

[2016-08-14 14:08] eeide commented on #116
You're right—this is inconsistent with the Automake-based build path.  Thank you for pointing this out; I will commit a fix.

@chenyang78, can you comment about the infinite-loop issue? Surely, `pass_clang` shouldn't infinite-loop if `ENABLE_TRANS_ASSERT` is set to zero, should it?

[2016-08-14 14:18] oriceemple commented on #116
If there is a pass that asserts during its initialization, it will exit(0). The successful exit will cause creduce to increase the counter by 1 and try again, and then assert again, and so on...

[2016-08-15 06:59] chenyang78 commented on #116
Markus's description is correct. I committed a fix to make clang_delta exit with -1 on failures. Thanks for catching the issue, @oriceemple !

[2016-08-15 14:36] #116 closed

[2016-10-18 14:34] dcb314 opened #123 "clang_delta/ReplaceFunctionDefWithDecl.cpp:123: double write ?"
clang_delta/ReplaceFunctionDefWithDecl.cpp:123:1: warning: V519 The 'Loc' variable is assigned values twice successively. Perhaps this is a mistake. Check lines: 122, 123.

Source code is

  SourceLocation Loc = RewriteHelper->getLocationFromLeftUntil(LocStart, ':');
  Loc = RewriteHelper->getLocationFromLeftUntil(LocStart, ')');

[2016-10-18 14:39] dcb314 opened #124 "clex/driver.c:444: Pointless test ?"
clex/driver.c:444:1: warning: V728 An excessive check can be simplified. The '||' operator is surrounded by opposite expressions '!started' and 'started'.

Source code is

   if (!started || (started && which > (idx + n_toks)))

[2016-10-19 03:08] eeide commented on #124
How would you simplify this test?

[2016-10-19 07:08] UniQP commented on #124
`if (!started || which > (idx + n_toks))`

[2016-10-20 04:15] chenyang78 commented on #123
Fixed. Thanks for reporting the issue, @dcb314 !

[2016-10-20 04:15] #123 closed

[2016-12-19 09:21] octoploid opened #127 "llvm trunk patch - disambiguate StringLiteral"
LLVM now also has a StringLiteral, the following patch is necessary to disambiguate them:

[code]

[2016-12-19 14:14] eeide commented on #127
Thanks for the patch!

(Unless I am mistaken,) This will need to be applied to an `llvm-svn-compatible` branch in the C-Reduce repo, because we try to keep the `master` branch compatible with the current LLVM release.

[2016-12-19 14:22] octoploid commented on #127
I think it should be applied to master, because it obviously works for both LLVM stable and trunk.

[2016-12-19 14:24] eeide commented on #127
I'm going to close this issue because there is a pull request (#128) for the same change.

[2016-12-19 14:24] #127 closed

[2016-12-19 18:19] #124 closed

[2016-12-19 18:22] eeide commented on #101
This issue was "resolved" by commit 7b7a8f7, which encourages people to compile with `clang++`.

[2016-12-19 18:22] #101 closed

[2017-01-27 21:49] mgorny opened #129 "New release for clang 4.0.0"
Hi,

Could you wrap up a new release for clang 4.0.0? It's at RC1 now but it is highly unlikely that there will be any incompatible changes. The current git version of creduce works just fine. TIA.

[2017-01-31 22:02] eeide commented on #129
Yes, we will certainly make a new release for LLVM 4.0.

[2017-02-06 15:42] dcci opened #130 "unifdef support for Windows"
I'm trying to test (and plan to use) creduce on Windows and stumbled upon the following:
`CMake` Warning at CMakeLists.txt:131 (message):
  Internal tool `unifdef.exe' cannot be compiled on this OS; skipping.`

I may be willing to take a look, but opening an issue here in case somebody else is already looking/interested. This is more a 'feature request' rather than an 'issue', but I wasn't able to

[2017-02-06 16:09] eeide commented on #130
Thanks for letting us know that you're willing to look into this!

Note that the "upstream" version of `unifdef` is here: https://github.com/fanf2/unifdef

It might be worth looking at the upstream version first, to see if Windows issues have already been fixed there. If not, you might want to contribute there, and we'd just incorporate the fixes from upstream.

The version of `unifdef` included w

[2017-02-06 16:11] regehr commented on #130
It's also worth keeping in mind that unifdef only helps people who are reducing non-preprocessed code, which I assume is a small minority of our users.

[2017-02-06 17:23] dcci opened #131 "clang-delta doesn't build on Windows (can't find clang headers)"
Not sure if this is a PEBCAK or things regressed as few people test creduce on Windows.

[code]

Interestingly enough, creduce can find all the llvm headers

[code]

FWIW, I'm using the llvm monorepo (github.com/llvm-project/llvm-project)

[2017-02-06 17:28] regehr commented on #131
Thanks Davide! Indeed the core developers don't build on Windows very often. We'll look into this.

[2017-02-06 17:54] dcci commented on #131
I really don't mind taking a look, if you can provide some guidance (and/or you don't have time to).
I'm not really fluent in build systems, where do you actually teach CMake how to include the llvm headers? (probably the clang headers should go there too)

[2017-02-06 18:05] dcci commented on #131
@regehr: is clang_delta an hard dependency?
If not, I can probably start playing with creduce as it works on my machine after some tweaking:

[code]

[2017-02-06 18:06] dcci commented on #131
FWIW, The Windows instructions could use some love, I'll send a pull request.

[2017-02-06 18:06] eeide commented on #131
I would describe LLVM's CMake-based build system as "not for the faint of heart." C-Reduce's is a bit simpler, but it uses the former to find the LLVM/Clang headers.

The magic bit is this part of file `clang_delta/CMakeLists.txt`:
[code]

[2017-02-06 18:07] eeide commented on #131
Yes, `clang_delta` is a hard dependency.

[2017-02-06 18:08] dcci commented on #131
Alright, that's where I looked originally.

I tried the following patch but without luck. Digging further

[code]

[2017-02-06 18:20] regehr commented on #131
Not so fast...

C-Reduce can do a lot without clang_delta. It is certainly worth trying, if clang_delta is hard to build.

Davide, clang_delta is in charge of all high-level transformations such as inlining, indirection removal, etc. But there's a lot that can be done w/o those transformations.

[2017-02-06 19:57] mpflanzer commented on #131
I could imagine that the issue is that in the all-in-one LLVM repository clang is not placed in llvm_root/tool/clang. To build LLVM with clang out-of-tree you need to set LLVM_EXTERNAL_CLANG_SOURCE_DIR=/path/to/clang when invoking Cmake.

Probably you need to set that as well when invoking Cmake to build C-Reduce (clang_delta)?

[2017-02-09 20:43] mpflanzer commented on #131
How do you invoke CMake to configure C-Reduce?

I usually have the install directory of LLVM (including clang) in my PATH environment so it's automatically picked up by the CMakeLists.txt file.

[2017-02-09 21:19] eeide commented on #131
I'm not sure I understand your question.

Is the example at the end of the `INSTALL` file what you are looking for?
[code]

[2017-02-11 16:26] mpflanzer commented on #131
I wanted to know if @dcci did something other than just setting the prefix path.

But anyway, I think I solved the issue. Most important, it is not possible to build C-Reduce without at least building  (or installing) LLVM and Clang. While calling `cmake` for LLVM and Clang creates the necessary LLVMConfig.cmake and ClangConfig.cmake files not all include files (*.inc) that are required by Clang a

[2017-03-14 09:36] ilovezfs commented on #129
Ping on this, as creduce is failing to build in Homebrew with my llvm 4.0 PR: https://bot.brew.sh/job/Homebrew%20Core/18349/version=sierra/console

[code]

[2017-03-14 20:28] eeide commented on #129
Thank you for the note, @ilovezfs! This afternoon I tried to reproduce the behavior you reported, but I couldn't. Can you provide more information about the problem you are seeing?

I was using:
  * the current head of C-Reduce's master branch (603ec86)
  * the LLVM 4.0.0 "Clang for Mac OS X" prebuilt binaries
  * OS X 10.11.6

With this setup, `clang_delta` compiled for me without problems. I tri

[2017-03-14 20:30] ilovezfs commented on #129
It's fine if I apply https://github.com/csmith-project/creduce/commit/ba1b8a6.patch

But with a new release the patch can go bye-bye.

[2017-03-14 20:31] ilovezfs commented on #129
https://github.com/Homebrew/homebrew-core/pull/11044

As you can see it built fine with the patch on all 3 CI nodes:
https://bot.brew.sh/job/Homebrew%20Core/18372/

[2017-03-14 20:33] eeide commented on #129
OK. Thank you for the clarification!

[2017-03-14 21:14] chenyang78 commented on #129
Hi,

Yes, the current Git head works with LLVM 4.0.0. Our new release will
contain this patch.

- Yang

On 2017-03-14 13:30, ilovezfs wrote:

[2017-03-15 19:00] eeide opened #133 "Make it possible to use separate LLVM and Clang trees to compile C-Reduce with Autoconf-based build"
This issue is related to pull request #132.

As of commit 19b6a98, it is possible to build C-Reduce using separate LLVM and Clang trees, using C-Reduce's CMake-based build path. An example command line is this:

[code]

_(Note that this only works for LLVM post-4.0.)_

There is no equivalent command line for C-Reduce's Autoconf-based build path. And I'm not quite ready yet to give up on maintainin

[2017-03-20 15:29] eeide commented on #133
I'm going to declare this done (by commit 0b6000a).

[2017-03-20 15:29] #133 closed

[2017-03-21 07:52] marxin opened #134 "clang_delta crash"
$ cat tmp4u9eanas.ii
struct {
  const int b} a[] = [

$ clang_delta --transformation=empty-struct-to-int --counter=1 tmp4u9eanas.ii
Segmentation fault (core dumped)

Thanks

[2017-03-21 07:52] marxin commented on #134
creduce 2.6.0
b02c375
Linux
marxinbox
4.10.3-1-default
#1 SMP PREEMPT Wed Mar 15 07:47:00 UTC 2017 (0c9f8e4)
x86_64

[2017-03-21 07:53] marxin opened #135 "creduce pass issue"
creduce 2.6.0
b02c375
Linux
marxinbox
4.10.3-1-default
#1 SMP PREEMPT Wed Mar 15 07:47:00 UTC 2017 (0c9f8e4)
x86_64

***************************************************

pass_clang::rename-cxx-method has encountered a bug:
pass failed to modify the variant

Please consider tarring up /tmp/creduce_bug_000
and mailing it to creduce-bugs@flux.utah.edu and we will try to fix
the bug.

This bug is not

[2017-03-21 07:54] marxin commented on #135
And one another test-case:

[code]

[2017-03-22 06:38] chenyang78 commented on #134
I think it has been fixed recently. Thanks for reporting the issue!

[2017-03-22 06:38] #134 closed

[2017-03-22 06:38] chenyang78 commented on #135
Fixed. Thanks for reporting the bug, @marxin !

[2017-03-22 06:38] #135 closed

[2017-04-05 08:45] Cellule opened #136 "WIndows Build"
I am trying to get this project to build on Windows, but I haven't had much luck.
More documentation would be appreciated.

[2017-04-05 09:32] Cellule opened #137 "Reducing help"
I am trying to reduce a file generated by csmith, but very early creduce remove the `#include "csmith.h"` and even though I indicate it is an invalid step, all the following steps have the include removed

[code]
`failed` means my bug repro and `passed` means build break (or no repro)
step0 is the initial step to make sure the bug does repro with no change
step1 from the log seems to say it is rem

[2017-04-05 10:05] mpflanzer commented on #136
Could you explain what you tried so far?

[2017-04-05 19:10] mpflanzer commented on #137
Could you provide the generated file you're trying to reduce and your interestingness test? That would make it easier to reproduce the issue and to check what's going wrong.

[2017-04-05 23:17] Cellule commented on #137
You can see the file I am trying to reduce here: https://gist.github.com/Cellule/14506d5e2c1ae8a99d4d8dbe40ca7f2b

My test is a little complicated. I have the logic for build/test in a node.js program
This is the way I invoke creduce is the following
- Run node.js program which figures out how the build/testing will happen
- Start an http server to know when creduce has something for me to test
-

[2017-04-05 23:25] Cellule commented on #136
Here's the step I have taken
- git clone https://github.com/csmith-project/creduce.git
- cd creduce
- md build
- cd build
- cmake ..
[code]

You can see the CMake log at https://gist.github.com/Cellule/6ea447f9317efa7affac49d05d52ef2e

I tried setting the `CMAKE_PREFIX_PATH`, `LLVM_DIR` and `Clang_DIR` to a bunch of different paths, but nothing works.
I have installed llvm from http://releases.llv

[2017-04-10 20:38] mpflanzer commented on #136
Indeed, it seems like the `*.cmake` files are missing from the pre-built binaries. I'm not sure if that is something that changed recently. I thought they were included. After all they are copied to `LLVM/lib/llvm/cmake/` if I build LLVM and clang myself on Windows.

I'm afraid that currently your best option will be to build LLVM and clang yourself for Windows to get C-Reduce working. You could h

[2017-04-11 00:58] Cellule commented on #136
I managed to get a little further using instructions on your project (btw your submodule to creduce is pointing to an invalid commit, force-pushed I guess).
Now I can't seem to install the perl dependencies.
For instance I do
[code]

[2017-05-18 15:38] eeide commented on #131
Is this issue resolved, @dcci? Pull request #132 was merged two months ago.

[2017-05-18 15:51] eeide commented on #130
Has there been any progress on this issue, @dcci?

[2017-05-18 21:01] eeide commented on #129
This is done: please enjoy the C-Reduce 2.7.0 release!

[2017-05-18 21:01] #129 closed

[2017-05-21 05:47] ilovezfs commented on #129
@eeide Thank you!

[2017-05-22 05:13] dcci commented on #130
Unfortunately not yet. I'll look at this eventually, but if you want to take a look first, please go ahead.

[2017-06-02 15:26] cooljeanius commented on #31
I'd be interested in doing what I can to help see this added; I'd have to learn the creduce codebase and become a better programmer first though.

[2017-06-04 09:19] marxin opened #140 "Support creduce --version"
It's handy to support -v and --version to print creduce version ;)

[2017-06-04 15:56] eeide commented on #140
Yes, I agree that this is a good idea.

[2017-07-02 10:00] octoploid opened #141 "Hitting assertion in RewriteUtils.cpp:1471"
I'm constantly hitting the assertion in RewriteUtils.cpp:1471.
(Sorry, I have no testcase at the moment)
[code]

Perhaps it could be replaced by:
[code]

[2017-07-06 03:12] chenyang78 commented on #141
@octoploid Thanks for reporting the issue! The patch could be a temporary workaround, but I think the root cause is likely somewhere else. If possible, could you attach a failing test? Thanks.

[2017-07-06 06:17] octoploid commented on #141
Take https://github.com/llvm-mirror/test-suite/blob/master/MultiSource/Benchmarks/tramp3d-v4/tramp3d-v4.cpp for example:

[code]
I'm using LLVM trunk.

[2017-07-07 04:07] chenyang78 commented on #141
Thanks, @octoploid

I committed the fix into both master branch and llvm-svn-compatible branch.

[2017-07-07 04:07] #141 closed

[2017-07-20 23:49] fitzgen opened #144 "Benchmarking?"
How do you benchmark potential performance optimizations / tweaking priority heuristics / etc? Is there a suite of benchmarks somewhere? Time how long the tests take to run? Something else?

Thanks!

[2017-07-21 19:17] regehr commented on #144
We've never really systematized this, unfortunately. It should be done. There are some questions about what kinds of test cases matter the most. I've usually operated on the assumption that it's the huge C++ inputs that can take a couple days to reduce that are the problem we should be attacking but I'm not even sure that's correct. Getting a collection of these difficult reductions would be nice.

[2017-07-21 20:23] fitzgen commented on #144
Thanks for the reply! :)

I've been timing how long one particular `bindgen` bug took to reduce, where I snapshotted the reductions along the way, so I don't have to run the whole days long reduction every time I want to test a change. Obviously, a partially reduced test case of size N isn't directly comparable to a fresh test case of size N, but I don't have days to wait for every little iteratio

[2017-07-21 20:25] regehr commented on #144
Cool!

Now that I've thought about this a bit more, we do have something: a collection of open source compiler bug triggers that I gathered a while ago for the "evaluation" part of a C-Reduce journal paper that has unfortunately gotten stalled out.

[2017-07-21 20:25] regehr commented on #144
@eeide do you recall where those are? Can we make them public, if they aren't already?

[2017-07-22 16:14] regehr commented on #144
Ah, @mpflanzer reminded me that the crash reductions are here:
https://github.com/regehr/compiler-crashes
There's a very wide variety in how fast they reduce. My idea was to optimize for total, not average, reduction time since speeding up short reductions is irrelevant.

[2017-07-22 16:43] regehr commented on #144
Nevermind what I said about total vs average, bleh.

[2017-07-22 16:44] eeide commented on #144
There is also the corpus that we used for the PLDI paper about C-Reduce, which I don't think that we have ever released as a packaged thing. I was using this corpus for the C-Reduce journal paper, too. We should release that corpus, too, but I won't have time to package it until at least August.

[2017-07-22 16:49] eeide commented on #144
FWIW, another metric is the size of the final output.

IIRC, when I ran the PLDI corpus with current C-Reduce, some of the reduced outputs were larger than they were back in the day. They were all still quite small, as I recall, but some one or two might have ended up 100 chars larger (?). I would have to look this up.

Anyway, I at least wanted to mention "quality of reduction" as an important me

[2017-07-22 16:52] regehr commented on #144
Well, one of the experiments I was going to run for the paper in question is (for some of the faster reductions) running them thousands of times with passes in randomized order in order to get a sense of how often the search space branches without coming back together.

My sense is that is some cases we'll end up more or less at the same final output regardless of path taken, and in others there'l

[2017-07-25 16:54] fitzgen opened #145 "clang_delta: replace-function-def-with-decl doesn't appear to work on methods"
I would expect that it would.

For bindgen's reductions, at least, replace-function-def-with-decl has a high interestingness rate, and I suspect that doing the same with methods would also have a high interestingness rate.

[2017-07-26 02:09] chenyang78 commented on #145
@fitzgen This transformation works with methods. For example,

    $ cat method.cc
    struct S {
      void foo() {
      }
    };

    $ ./clang_delta --transformation=replace-function-def-with-decl method.cc --counter=1
    struct S {
      void foo() ;
    };

Perhaps you hit a bug in the transformation or some limitation of it? Can you send us a test? Thanks!

[2017-07-26 17:42] fitzgen commented on #145
Huh.

Unfortunately, I overwrote the test case and can't seem to create a test case that reproduces the behavior anymore :(

I was working with a pre-processed file, and specifying both `--counter` and `--to-counger` such that I would remove all method definitions, if that makes a difference.

I realize that this issue is now pretty worthless, so I'll just close it and reopen if I find a test case

[2017-07-26 17:42] #145 closed

[2017-07-27 04:07] chenyang78 commented on #145
@fitzgen No problem :) Thanks for checking it!

[2017-08-13 15:10] gnzlbg opened #146 "CReduce doesn't build with clang 6"
[code]

[2017-08-13 15:32] gnzlbg commented on #146
This is the git patch that solved this for me:

[code]

[2017-08-13 15:55] eeide commented on #146
Thank you for the patch! I suspect that this should go onto C-Reduce's `llvm-svn-compatible` branch.

[2017-08-13 16:05] gnzlbg commented on #146
I honestly did not know that branch existed :/

I did not send a PR because I thought you might want to keep the creduce-master branch compatible with different LLVM versions.

[2017-08-15 03:39] chenyang78 commented on #146
@gnzlbg Thanks for the patch! The ```llvm-svn-compatible``` branch has a similar fix that addressed the issue.

[2017-08-15 03:39] #146 closed

[2017-09-03 20:00] eeide opened #147 "Make C-Reduce release for LLVM/Clang 6.0 (was 5.0)"
Shortly after LLVM 5.0 is officially released, make an official C-Reduce release that uses/requires LLVM 5.0.

[2017-09-07 15:15] UniQP opened #148 "clang_delta: Segfault in param-to-global transformation"
I have the following test file
[test.c](https://github.com/csmith-project/creduce/files/1285141/test.txt)

[code]
that segfaults during the param-to-global transformation:
[code]

I'm not using the latest version of creduce, but maybe the bug is also present on `master`.
[code]

[2017-09-09 14:04] hmage commented on #147
LLVM 5.0 is out, creduce 2.7.0 fails to compile.

[code]

[2017-09-09 14:29] eeide commented on #147
@hmage Thanks. If you want to use C-Reduce with LLVM 5.0 before we make a new C-Reduce release, try using the code on C-Reduce's `llvm-svn-compatible` branch.

[2017-09-12 14:48] octoploid opened #149 "error: reference to ‘Type’ is ambiguous"
LLVM now also has a class named Type (llvm/IR/Type.h).
And because creduce uses
[code]
this causes clashes, for example:
[code]

[2017-09-13 07:47] chenyang78 commented on #148
Fixed. Thanks for reporting the issue, @UniQP !

[2017-09-13 07:47] #148 closed

[2017-09-13 08:09] chenyang78 commented on #149
Fixed in master branch and llvm-svn-compatible branch. Thanks for the report, @octoploid !

[2017-09-13 08:09] #149 closed

[2017-09-19 16:50] brycelelbach opened #150 "Add command line option listing all passes"
It would be helpful if there was a --list-passes flag, so that users could figure out what they can plug into --add-pass.

[2017-12-12 13:31] sgraf812 opened #151 "pass_clang_binsrch::remove-unused-var has encountered a bug"
Hey,

I attached a [reproduction](bug.tar.gz) that caused a crash while minimizing some example. Hope it helps!

[bug.tar.gz](https://github.com/csmith-project/creduce/files/1551735/bug.tar.gz)

[2017-12-12 14:18] eeide commented on #151
Thank you for your report!

[2017-12-13 05:56] chenyang78 commented on #151
Fixed. Thanks for the report, @sgraf812 !

[2017-12-13 05:56] #151 closed

[2017-12-26 16:23] ilovezfs opened #152 "Is Sys-CPU 0.52 OK? Sys-CPU 0.61 seems to have vanished"
http://search.cpan.org/CPAN/authors/id/M/MZ/MZSANFORD/Sys-CPU-0.61.tar.gz
now 404.

And the most recent version is suddenly 0.52 http://search.cpan.org/~mkoderer/Sys-CPU-0.52/CPU.pm

Is this acceptable? I'm not sure what the back story is here but the Homebrew formula has had 0.61 since inception.

[2017-12-26 22:25] dtzWill commented on #152
That's strange re:disappearing from mirrors and only showing 0.52 as latest.

FWIW seems to still be here:  https://cpan.metacpan.org/authors/id/M/MZ/MZSANFORD/Sys-CPU-0.61.tar.gz
(which, among other things, is the URL Arch uses: https://aur.archlinux.org/packages/perl-sys-cpu/)

Can't comment on whether 0.52 is new enough, I think it's only used for setting default parallelism so it's not exactly

[2017-12-26 22:40] dtzWill commented on #152
Few quick updates:

* As far as I can tell `Sys::CPU` is an **optional** dependency for creduce, which attempts to use platform-specific tools like `lscpu` (Linux) and `sysctl hw` (Darwin) before "falling back" to checking with Sys::CPU if available.  For `csmith` I believe Sys::CPU is required by `launchn.pl`.
* Using `Sys::CPU` 0.52 seems to work just fine in some quick testing.
* I've been buil

[2017-12-26 22:52] dtzWill commented on #152
* [GitHub repo for `Sys::CPU`](https://github.com/mzsanford/perl-sys-cpu)
* Looks like 0.61 fixes a few bugs, [commit history is brief if you'd like to inspect it](https://github.com/mzsanford/perl-sys-cpu/commits/master) -- most notable change seems to FreeBSD support.

I know little of perl ecosystem so I'm not sure how to follow up on that--it does seem strange that the `0.61` version (by MZSAN

[2018-01-30 18:06] sgraf812 opened #153 "Support language <X>"
I'd like to use C-reduce to reduce Haskell programs. What would need to be changed to completely disable any language-specific passes and only include passes specific to Haskell?

I figured that instead of rewriting everything from scratch, I'd better benefit from the many man hours that already went into C-reduce.

[2018-01-30 18:46] regehr commented on #153
I'll patch C-Reduce to make this happen. In the meantime, however, there is no problem leaving those passes enabled. They won't do anything useful but they won't hurt either, other than wasting a bit of CPU time.

[2018-01-30 18:50] regehr commented on #153
Also, the job of reducing a strongly typed language is harder than reducing something like C. It may be the case that you end up wanting to write Haskell-specific passes that perform desirable transformations. If you do this and want to integrate them into C-Reduce, let's talk.

[2018-01-30 20:29] sgraf812 commented on #153
Yeah, that's probably what needs to be done to be useful. Let's see what I can whip up.

[2018-01-30 21:07] regehr commented on #153
Please try out C-Reduce as-is and see if it does anything useful. It has been known to do good reduction of Rust code, for example. Also if you have any GHC crashers (or whatever) we'd be interested to see them, if they can be reproduced relatively easily.

[2018-01-31 05:15] regehr commented on #153
OK, if you grab the master branch there's a --not-c command line flag that turns off some of the passes that are the most specific to C/C++.

[2018-02-26 13:31] Trass3r opened #156 "possibility to exclude parts of code from reduction"
I couldn't find a way to tell creduce to not touch certain parts of the code.
Similar to DustMite's --no-remove "regex" option resp. in-code with a // DustMiteNoRemoveStart comment.

[2018-02-26 14:18] eeide commented on #156
You are right: There is no command-line option or source comment that means "don't touch this" to C-Reduce. Thank you for the (implicit) suggestion!

Maybe you can achieve the effect you want by coding it into the script that you give to C-Reduce?

For example, to enforce a rule that there is at least one call to "foo" in the program, grep for "foo()".

[2018-02-26 14:38] Trass3r commented on #156
The script trick works for simple cases but does not scale.

[2018-03-18 16:44] pranavk opened #158 "Can we bin automake?"
I am wondering why creduce is using two build systems? Since we have cmake, we can get rid of autotools, I guess. Or is there some reason we still have autotools?

[2018-03-18 17:11] eeide commented on #158
Is the support for Automake causing you a problem?

[2018-03-18 17:16] pranavk commented on #158
No, not causing any problem. But since cmake can do autotools job anyways, why keep autotools at all?

[2018-03-18 17:20] eeide commented on #158
I maintain the Automake-based build path for the convenience of people who want to use it, and I use it myself for some tasks, such as making the official release tarballs.

Thanks for the clarification.

[2018-03-18 17:20] #158 closed

[2018-03-26 14:48] mgorny commented on #147
Ping. We're already past LLVM 6.0.0 release, and it looks like we aren't going to see any 5.0.0-compatible release…

[2018-03-26 14:51] eeide commented on #147
I am working to make a new release. Thank you for the reminder and for your patience.

[2018-04-13 10:43] marxin opened #160 "CPU parallelism of replace-function-def-with-decl is small"
Looks the pass runs in parallel, but I guess the maximum is 3-4?

[2018-04-25 12:32] ismail commented on #147
Would also appreciate llvm 6.0 support for openSUSE.

[2018-04-25 14:27] eeide commented on #147
Hi, @ismail.

I don't have access to an openSUSE machine to test with. Can you tell me if the current git version of C-Reduce (commit 48e622b) builds and runs correctly on openSUSE?

[2018-04-26 13:58] eeide commented on #147
I'm guessing that the output you included is from the Automake-based build system. Is that right?

Does the CMake-based build system work?

[2018-04-26 14:58] eeide commented on #147
Thanks for checking.

(I'm very surprised that the CMake-based system would fail and the Automake-based system would work! The CMake-based system reuses some of LLVM's build infrastructure, whereas the Automake-based system has to make "informed guesses.")

[2018-04-27 09:25] ismail commented on #147
I don't have a shared library setup to test but the following fixes the problem for me.

[p.txt](https://github.com/csmith-project/creduce/files/1954539/p.txt)

[2018-04-27 11:58] mgorny commented on #147
I think you also want to account for the switch controlling dylib build.

That said, i think there was a patch that might be somewhat related being discussed at some point. However, I don't recall if it actually addressed the same issue, and what was its state, and I can't find it now (probably lost in mail cleanup).

[2018-06-11 15:36] sgraf812 opened #161 "Some 'pass got stuck' bugs in pass_clex::rm-tok-pattern-4 and pass_peep::a"
I should confess that this is probably due to abusing creduce (this was without the new --not-c flag) for minimizing Haskell. Feel free to close immediately if irrelevant :o

[creduce_bugs.tar.gz](https://github.com/csmith-project/creduce/files/2090683/creduce_bugs.tar.gz)

[2018-06-23 23:08] eeide opened #162 "`clang_delta` link gets stuck on macOS w/Autoconf-based build path"
_This issue is really a "note to self" to investigate something that I don't want to investigate now._

At the current master HEAD (5bf8445).

On macOS 10.12.6 (Sierra), with an LLVM 6.0 tree built from source, if I build C-Reduce using the Autoconf-based build system, the build gets stuck trying to link `clang_delta`.

If I use the CMake-based build path, the link step completes.

I haven't inves

[2018-06-23 23:14] eeide opened #163 "Avoid spurious compilations warnings in Travis-CI build on Ubuntu 16.04 LTS (Xenial)"
When Travis-CI builds C-Reduce (commit 5bf8445) atop Ubuntu 16.04 LTS (Xenial), the log has many instances of this warning:

[code]

It would be nice to avoid these spurious warnings in some way. E.g., use the CMake-based build path, or tweak the command-line filtering on the Autoconf-based build path.

[2018-06-23 23:35] regehr commented on #162
On my Mac (with LLVM 6 downloaded binary) I see the same thing: ld
hanging up using 100% of a core. I'll leave it running a while and see
if it finishes but it's been a few minutes already.

I see no reason to keep supporting the autoconf tooling when LLVM itself
has deprecated it a while ago.

John

On 6/23/18 5:08 PM, Eric Eide wrote:

[2018-06-23 23:38] eeide commented on #162
I use the Autoconf-based build system for making the distributions.

Anyway, there are some things to "port" from the Autoconf-based build path before we dispose of it.

[2018-06-23 23:39] eeide commented on #162
Aside, shout out to issue #158.

[2018-07-07 06:52] ilovezfs commented on #152
@eeide if I understand the 2.8.0 release has removed this dependency entirely, correct?

[2018-07-07 12:43] eeide commented on #152
Yes, that is right.

On Linux and macOS, it was not used anyway.

Thank you for the reminder to close this issue!

[2018-07-07 12:43] #152 closed

[2018-07-16 08:11] mgorny opened #165 "clang_delta fails to link against shared LLVM-6.0.1"
[code]

My first though was that linkage to LLVM libraries is missing. Apparently, it is by design:

[code]

However, LLVM libraries don't get pulled implicitly for me, so it looks like the workaround for 'weird' systems is breaking normal systems.

Full log: [dev-util:creduce-9999:20180716-080437.log](https://github.com/csmith-project/creduce/files/2196877/dev-util.creduce-9999.20180716-080437.lo

[2018-07-16 14:24] eeide commented on #165
Hmm. I expect that sorting this out will take some thought.

As you can see from the comment that you quoted, I'm not good at navigating LLVM's current linking practices! If you have a CMake recipe that works with all the ways that LLVM/Clang might be packaged into libs, please let me know.

I will say that the current CMake file "worked for me" on all the systems I tested, with both pre-packaged

[2018-07-16 14:37] eeide commented on #165
Also, one might experiment with the following patch, suggested by @ismail in the comments for issue #147. If you apply this patch, I presume that you would also need to re-add `LLVM_LIBS` to the `target_link_libraries`.

[code]

[2018-07-16 14:45] eeide commented on #147
I made the LLVM-6.0-compatible release of C-Reduce on July 7, 2018: 91bdbda.

I'm closing this issue, but some of the linking troubles mentioned above seem to linger. They will have to be remembered in separate issues (e.g., issue #165).

[2018-07-16 14:45] #147 closed

[2018-07-17 12:01] mephi42 opened #167 "Support asm goto"
It would be nice if C-Reduce could attempt to convert `asm goto` to `asm` (https://gcc.gnu.org/onlinedocs/gcc/Extended-Asm.html) by removing the `goto` keyword and `GotoLabels` arguments.

[2018-07-17 12:49] regehr commented on #167
I don't have any examples of this sort of thing sitting around, do you have one for us to use?

[2018-07-17 14:22] mephi42 commented on #167
Sure! The following code

[code]

could be converted to

[code]

[2018-07-17 18:06] regehr commented on #167
And C-Reduce really doesn't do this already?? This should just fall out of one of the token removal passes.

[2018-07-17 21:18] mephi42 commented on #167
Apparently not - I've been reducing somewhat larger sample, which in the end boiled down to an asm statement, and had to remove `asm goto` by hand. Maybe the trick that it does not see is that one needs to remove `goto`, one colon and `GotoLabels` simultaneously?

[2018-07-17 21:31] regehr commented on #167
Ok, ugh. There's a brute force token pass that does a sliding window thing but the window necessarily isn't very big. I'm probably not going to get back to C-Reduce for a while but let's leave this open and I'll see about addressing it at some point.

[2018-07-17 22:33] mgorny commented on #165
This patch doesn't work. My guess would be it's because `BUILD_SHARED_LIBS` is unset — it's not really exported out of LLVM. That said, I think all current versions of LLVM have some clean way of linking that selects correct targets independently of the way LLVM was built.

[2018-08-23 12:45] marxin commented on #165
I see one maybe similar issue for current creduce trunk:
[code]

[2018-08-23 12:46] marxin opened #170 "clang_delta segfault for a code snippet"
Following code snippet:

[code]

causes a segmentation fault:

$ clang_delta --transformation=reduce-array-dim --counter=1  filter.ii
Segmentation fault (core dumped)

[2018-08-24 08:02] chenyang78 commented on #170
Fixed. Thanks, @marxin !

[2018-08-24 08:02] #170 closed

[2018-09-19 14:16] eeide opened #171 "Make C-Reduce release for LLVM/Clang 7.0"
Shortly after LLVM 7.0 is officially released, make an official C-Reduce release that uses/requires LLVM 7.0.

LLVM 7.0.0 was released today, Wed Sep 19 2018.

[2018-09-24 19:55] hauihau opened #173 "creduce-2.8.0 fails to compile wirth GCC 8.2.0 and LLVM 7.0"
The above combinatiion leads to:

`
[10/88] /usr/bin/x86_64-pc-linux-gnu-g++ -DHAVE_CONFIG_H -I. -I/home/gentoo/tmp/portage/dev-util/creduce-2.8.0_pre20180411/work/creduce-48e622ba74bc35c5a81299d3a34b9b14038d6a70/clang_delta -I/usr/lib/llvm/7/include  -DNDEBUG -march=native -O3 -pipe -flto=5 -fuse-linker-plugin -fno-delete-null-pointer-checks -flifetime-dse=1 -std=c++11 -fno-rtti -fno-strict-alias

[2018-09-24 20:02] eeide commented on #173
Is compiling with LLVM 7.0 an option for you?

(That is, rather than compile C-Reduce with GCC, compile C-Reduce with clang from the LLVM 7.0 distribution.)

I realize that this is not a direct answer to your question. But if your real goal is to compile C-Reduce, maybe compiling with LLVM is an option for you?

[2018-09-24 20:05] eeide commented on #173
The general problem of compiling with GCC is briefly addressed in the `INSTALL` file.

[code]

[2018-09-24 20:14] hauihau commented on #173
Does not help:

`
[10/88] /usr/lib/llvm/7/bin/x86_64-pc-linux-gnu-clang++ -DHAVE_CONFIG_H -I. -I../clang_delta -I/usr/lib/llvm/7/include  -DNDEBUG -std=c++11 -fno-rtti -fno-strict-aliasing -Wall -Wextra -Wno-long-long -Wno-unused-parameter -Wno-missing-field-initializers -fvisibility-inlines-hidden   -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -MD -MT clang_

[2018-09-24 20:45] chenyang78 commented on #173
I will take a look at it. Thanks.

[2018-09-28 07:45] chenyang78 commented on #173
@hauihau Thanks for checking it and sorry about that. The failure was introduced by some API difference in between LLVM 6.0 and 7.0.

I fixed the issue (along with a couple of others) in a new branch llvm-7.0:

    https://github.com/csmith-project/creduce/tree/llvm-7.0

We will merge the fix to the master branch for our next release. Thanks for reporting the issue!

[2018-10-01 12:01] marxin commented on #165
Please any progress on this?

[2018-10-01 12:02] marxin opened #174 "creduce/clang_delta/RewriteUtils.cpp:1042:1: warning: control reaches end of non-void function [-Wreturn-type]"
I see following error since d5bb977c revision.

[2018-10-01 12:03] marxin commented on #174
@chenyang78 .

[2018-10-01 14:05] eeide commented on #165
No, we have not made progress on this.

I am hopeful that this will be resolved as part of preparing the C-Reduce release for LLVM 7.0. I vaguely recall that there was some discussion about improving the LLVM infrastructure that third-party tools can use for linking against LLVM libraries—but perhaps I am misremembering.

[2018-10-01 19:50] hauihau commented on #173
I justed fetched the single commit from llvm-7.0 branch and this solves the issue  for GCC as well as CLANG.

[2018-10-02 03:37] chenyang78 commented on #174
Fixed. Thanks for reporting the issue, @marxin

[2018-10-02 03:37] #174 closed

[2018-10-02 03:37] chenyang78 commented on #173
@hauihau Thanks for verifying the fix!

[2018-10-02 03:37] #173 closed

[2018-10-10 11:17] marxin commented on #171
Using ```./configure``` I see following errors:

[code]

[2018-10-10 14:22] eeide commented on #171
There is currently an `llvm-7.0` branch in the C-Reduce repository. Do the errors above occur on that branch?

[2018-10-11 02:18] chenyang78 commented on #171
Hi Marxin,

I think these issues have been fixed in our llvm 7.0 branch. Thanks!

- Yang

On 10/10/2018 04:17 AM, marxin wrote:

[2018-10-11 08:58] marxin commented on #171
I can confirm the branch works and I also tested creduce on a real reduction and it looks fine.
Can you please create a pull request for it?

[2018-10-12 05:42] chenyang78 commented on #171
@marxin, I think @eeide will work on a new release for LLVM 7.0 when he has bandwidth. Thanks for checking that!

[2018-10-23 15:19] tavianator opened #176 "Crash with llvm-7.0 branch"
[code]

[2018-11-06 05:26] #176 closed, assigned to nobody

[2018-11-22 18:31] marxin commented on #160
May I please remind the issue?
Similar applies to: remove-unused-function pass.

[2018-12-19 09:00] practicalswift opened #178 ""sh: 0: getcwd() failed: No such file or directory" when running creduce"
Thanks for an excellent piece of software!

When running `creduce` I'm getting the error message `sh: 0: getcwd() failed: No such file or directory` intermittently.

Is this a known problem in `creduce` or is my interestingness check the likely source of this? :-)

[code]

[2018-12-19 15:12] regehr commented on #178
I see this sometimes too. I've looked for the problem a couple of times and haven't found it. It goes away if you restrict concurrency so most likely it's a subtle race in the parallel part of C-Reduce. It doesn't seem to hurt the final results so I haven't put too much effort into it. Sorry.

[2019-01-19 00:07] nickdesaulniers opened #179 "crash when running with 46 threads"
[code]

Looks like maybe some kind of race when copying a file?

Also, thanks for such a great tool: https://nickdesaulniers.github.io/blog/2019/01/18/finding-compiler-bugs-with-c-reduce/

[2019-01-19 00:11] nickdesaulniers commented on #179
[fault.i](https://github.com/csmith-project/creduce/files/2774905/fault.txt)

[z.sh](https://github.com/csmith-project/creduce/files/2774906/z.sh.txt)

could not repro with the default 4 threads.

[2019-01-19 02:40] regehr commented on #179
Thanks! This symptom seems like something I haven't seen before, but I've long suspected there's a race or two somewhere in C-Reduce that I've not managed to track down. I'll take another look at some point but not in the next few weeks.

[2019-01-19 02:40] regehr commented on #179
cool blog post!

[2019-02-02 12:52] JVApen opened #180 "Windows support: Precompiled executable"
Every time I find myself in need of Creduce on windows, I struggle to get it compiling till I finally give up and reduce things manually during a whole day (or 2).
Would it be possible to provide precompiled binaries for the Windows platform?

(Most likely to be tagged as feature request)

[2019-04-06 17:40] Kojoley opened #190 "`set -o pipefail` breaks creduce"
If I use `set -o pipefail` in a test script, creduce does not pass a precheck and tells me to ensure that the script is working correctly, and it does.

Reproducer (with any input file):
[code]

[2019-04-06 18:38] regehr commented on #190
does this issue matter?

[2019-04-06 18:49] Kojoley commented on #190
What do you mean? Does it breaks some use cases? Yes it does, otherwise I would not hit it.

[2019-04-06 19:13] regehr commented on #190
I'm asking whether removing this option from your bash script is feasible

[2019-04-06 19:32] Kojoley commented on #190
Without rewriting it - no. And the workaround is to redirect to temporary files and check return codes yourself.

It would be good to document this if it is not going to be fixed. The other problem that other people will also spent some time on this ensuring that they did nothing wrong, but it is a creduce problem, because the error message suggests that the script does not work.

[2019-04-06 20:05] regehr commented on #190
I agree it would be good to fix, but I doubt I'll have time in the immediate future. Patches are welcome.

[2019-04-10 12:09] ydroneaud opened #191 "Make C-Reduce release for LLVM/Clang 8.0"
On Fedora 30, c-reduce doesn't compile due to multiple changes in LLVM/Clang APIs.

[2019-04-10 13:13] eeide commented on #191
Yes, we will make a release that is compatible with LLVM 8.0.

[2019-04-22 18:53] eeide commented on #165
I'm going to close this issue, without resolution, because we're moving on to LLVM 7.0 and 8.0.

It is still an issue with LLVM 7.0; see #189.

[2019-04-22 18:53] #165 closed

[2019-04-22 18:59] eeide commented on #180
Hmm. I'm not sure that @regehr or I would be good providers/maintainers of precompiled Windows binaries. (I am not a Windows user at all.)

You might be interested in this, though:
https://github.com/zjturner/creduce-windows

[2019-04-30 21:07] eeide opened #192 "Automake-made `clang_delta` cannot find LLVM shared libraries"
At the current head of the master branch (118d29c), when

  + LLVM is built as a shared library (i.e., when LLVM/Clang is built with `-DLLVM_BUILD_LLVM_DYLIB=YES` and `-DLLVM_LINK_LLVM_DYLIB=YES`), and
  + when `clang_delta` is built using the Automake-based build path,

`clang_delta` may not be able to find the LLVM shared libraries at run time.

This happens because the Automake-based build path

[2019-05-06 02:24] eeide commented on #171
The official release that supports LLVM 7 is available now: **C-Reduce 2.9.0**

Commit 0fc288e, tag `creduce-2.9.0`.
Find the release here: https://github.com/csmith-project/creduce/releases/tag/creduce-2.9.0

[2019-05-06 02:24] #171 closed

[2019-05-06 02:28] eeide commented on #162
As of C-Reduce 2.9.0 (which uses LLVM 7), I am no longer seeing the gets-stuck-on-link behavior on macOS.

For that reason, I am closing this issue.

[2019-05-06 02:28] #162 closed

[2019-05-06 02:31] eeide commented on #163
As of C-Reduce 2.9.0 (which uses LLVM 7), the warnings described above no longer appear. I didn't "fix" anything; I assume that the LLVM 7 apt build is just being built differently.

Anyway, I am closing this issue.

[2019-05-06 02:31] #163 closed

[2019-05-06 16:16] eeide commented on #191
As of commit cd45699 (master branch), C-Reduce works with and requires LLVM 8.

@ydroneaud, please try it out and let us know if it works for you. *Thanks!*

[2019-05-07 14:06] ydroneaud commented on #191
Thanks, it compiles now just fine on Fedora 30.

Regards.

[2019-05-09 17:03] Trass3r commented on #180
You could try using it from WSL.

[2019-05-14 02:01] eeide commented on #191
C-Reduce 2.10.0, just released, supports and requires LLVM 8.

Get it here: https://github.com/csmith-project/creduce/releases/tag/creduce-2.10.0

[2019-05-14 02:01] #191 closed

[2019-05-21 21:05] dwblaikie commented on #179
Hit a similar thing today running with 32 threads:

cannot copy '/usr/local/google/home/blaikie/dev/scratch/creduce/mod_mutex/mutex.h' at /usr/local/google/home/blaikie/dev/creduce/build/creduce/creduce line 308.
 at /usr/local/google/home/blaikie/dev/creduce/build/creduce/creduce line 35.
        main::__ANON__("cannot copy '/usr/local/google/home/blaikie/dev/scratch/credu"...) called at /usr/loc

[2019-05-21 21:22] regehr commented on #179
argh! thanks David. I guess I just need to review the threading logic again, this is hard enough to repro that I don't think any other debugging method will get it.

[2019-05-21 21:26] dwblaikie commented on #179
Hmm - I realized my /tmp is on a relatively small drive - so a second run hit a "not enough space on device" error. Possible that the previous error was related to that but just with a slightly different failure mode?

I'm running with a bigger /tmp - well... I thought I was, but seems I'm not. Not sure how to tell creduce to use a different temp directory. But I reduced the amount of space my tes

[2019-06-11 13:56] oscarfv commented on #180
Or from [MSYS2](https://www.msys2.org/):

`pacman -S mingw-w64-x86_64-creduce`

This is a native Windows package with the advantage that, if you find it convenient, you can use creduce from a POSIX environment (bash, grep, etc).

[2019-06-11 21:40] nickdesaulniers commented on #167
Clang now supports `asm goto` so parsing in clang should no longer be an issue.  The above transform is correct, but otherwise `asm goto` has tricky control flow semantics, so it would only be a guaranteed safe transform if the inline asm was an empty string.

[2019-06-11 21:43] nickdesaulniers commented on #160
Bump; I have a 72 core workstation and this pass is a bottleneck. (sorry I don't have a more portable test case).  Other passes seem to utilize more cores much better, or trim more code.

[code]

[2019-07-17 11:51] blitz commented on #192
I still see a similar looking problem when trying to build creduce on Fedora 30:

[code]

[2019-07-17 14:37] eeide commented on #192
@blitz, thanks for the information about Fedora 30. I don't have access to that platform.

FWIW, in the output you included, I noticed that you are using Ninja, which means (I assume) that you are using the CMake-based build system for C-Reduce, not the Automake-based build system.

The linking problems under the two systems are probably related, but this issue (#192) is about the problem in the A

[2019-08-07 01:09] XVilka commented on #136
Is there any progress with this effort? LLVM/Clang became way better since.

[2019-08-07 01:12] XVilka commented on #130
Was there any progress regarding this issue?

[2019-08-07 15:05] eeide commented on #136
Hi, @XVilka. I think that the core problem addressed by this issue—merely _building_ C-Reduce on Windows—has become a lot easier since this issue was created. (For that reason, maybe I should close this issue!) That said, I believe that i can still be tricky to _run_ C-Reduce on Windows, for various reasons.

This project offers some tips for building/running C-Reduce on Windows: https://github.co

[2019-08-07 15:12] eeide commented on #130
Hi, @XVilka. To my knowledge, there was been no progress on this issue.

Looking at the upstream copy of `unifdef`, I see that some of the changes since 2015 have been for Windows compatibility. I will investigate bring our copy of `unifdef` up to date as part of the next C-Reduce release.

This project offers some tips for building/running C-Reduce on Windows in general: https://github.com/zjturn

[2019-10-22 06:55] marxin opened #193 "Build creduce with llvm9"
The support is likely missing right now.

[2019-10-22 13:33] eeide commented on #193
Hi. Do you encounter any errors when you try to build C-Reduce with LLVM 9?

I recently started work toward making a new C-Reduce release, and I had no problems building the current master branch with LLVM 9.

If your experience not the same, please follow up with a bug transcript.

[2019-10-23 09:16] marxin commented on #193
Yes, only one minor which is about clang libraries:
[code]

which can be fixed by replacing all these with `-lclang-cpp`. Can you please take a look?

[2019-10-23 14:53] eeide commented on #193
I don't have access to a SuSE Linux setup, so I will have to see if I can replicate your configuration on another platform. (Ubuntu and CentOS are easily accessible to me.)

What LLVM distribution are you using? If you build it yourself, how did you build/install it?

How did you configure the C-Reduce build? From your previous message I infer that you are using the Automake-based path. What was t

[2019-10-24 17:57] marxin commented on #193
It's openSUSE Tumbleweed and I use standard llvm9 packages.

Yes, I only run `./configure`.

That does not help, I see the same linker error message.

[2019-10-29 10:03] ctaggart opened #194 "perl issues on macOS Catalina"
I ran a creduce on my Mac for https://github.com/ctaggart/octh/issues/36 for 76 hours and it created 10 bug reports. I skipped several steps that looked like they would also fail. I'm running macOS 10.15 Catalina and it comes with perl v5.18.4 and some additional security. After seeing https://github.com/fink/fink/issues/201, I installed perl v5.30.0 from brew and started creduce again. It has bee

[2019-10-29 20:46] arichardson opened #195 "pass_line_markers causes fatal error when reducing"
After updating creduce I am no longer able to reduce clang crashes. Every time I try, creduce dies with the following stack trace:
[code]

[2019-10-29 20:52] arichardson commented on #195
Locally I've worked around this by deleting the following line: https://github.com/csmith-project/creduce/blob/8a67e69c49ef123a1c0a4898ac259249411a01dd/creduce/creduce.in#L762

Is there a way to work around this bug by passing command line flags? I often run creduce on a server where I can't build it from source or update packages.

[2019-10-29 21:01] regehr commented on #195
I can add a command line option to remove a pass from the pass schedule, but I'd like to understand what leads to this assert being triggered, perhaps you can share a way for us to reproduce this problem? the line in question just opens the file being reduced, I don't see how this would fail.

[2019-10-29 21:45] arichardson commented on #195
It appears that this pass is attempting to open the file in the current working directory but I invoke creduce with the CWD set to a different directory.
In the example above my [creduce wrapper](https://github.com/CTSRD-CHERI/llvm-project/blob/master/clang/utils/creduce_crash_testcase.py) uses `['time', '/usr/bin/creduce', '/tmp/tmpymnudx8l/reduce_script.sh', '/tmp/usbdump-facd48-pp-smaller-reduc

[2019-10-30 01:18] regehr commented on #195
the rule for interestingness tests is that:
- c-reduce will create a temporary directory somewhere and copy the file to it
- c-reduce will set CWD to that directly and invoke your interestingness test
it does not matter what the CWD is set to when you invoke C-Reduce

[2019-10-30 09:51] arichardson commented on #195
I think the following is happening:

pass_line_markers opens the file in `sub new ($$)` which is called by https://github.com/csmith-project/creduce/blob/8a67e69c49ef123a1c0a4898ac259249411a01dd/creduce/creduce.in#L609.
All other passes seem to open the `$cfile`variable inside `transform`.
It seems to me like c-reduce only copies the source file after calling `new`: https://github.com/csmith-proje

[2019-11-10 19:44] marxin commented on #193
Any progress on this please?

[2019-11-10 22:18] regehr commented on #193
I can't reproduce the problem either. please propose a patch, and we'll try to get it merged.

[2019-11-10 23:32] eeide commented on #193
Just a quick reply: I haven't had any time to work on this for the past few weeks. I probably won't have time for the next few weeks.

[2019-12-24 09:32] laixiaodong opened #199 "creduce make fails for " no member named 'C' in 'clang::InputKind'""
Hi, I want build creduce locally, my system is Rehl8, and clang version is 10.0, with creduce-2.10.0.
but after configure, there are many errors in "make".

`TransformationManager.cpp:104:38: error: no member named 'C' in 'clang::InputKind'
  if (IK.getLanguage() == InputKind::C) {
[code]

[2019-12-24 17:23] eeide commented on #199
Hi!  C-Reduce 2.10.0 is intended to work with LLVM/Clang 8.

The next (upcoming) release of C-Reduce will be intended to work with LLVM/Clang 9.  I hope to get this release done soon.  If you don't want to wait, you can get the current dvelopment version of C-Reduce from GitHub—it should work with LLVM/Clang 9 (or 8, in fact).

[2019-12-24 17:27] eeide commented on #199
I will investigate the build error you reported after I get the next release of C-Reduce out the door (for LLVM/Clang 9).

Meanwhile, I'm going to change the name of this issue to reflect the fact that it related to LLVM/Clang 10.

[2019-12-25 06:13] laixiaodong commented on #199
@eeide  thank you so much ~

[2020-01-15 14:43] LordAro opened #201 "Inital comment removal pass removes double slashes from strings"
[code]

got "tidied" to be:

[code]

which then really hampers creduce's ability to do anything, as the whole file is immediately broken

also seen to be doing the same thing in normal strings within the file, i.e. `"https://foobar"` -> `"https:`

[2020-01-25 08:53] marehr opened #202 "Make renaming optional"
Is there an option to make all renaming optional?

I have two use cases:

I find myself often in a situation where I let creduce run overnight, but it fails to reduce everything and I need manual intervention. This is much easier with descriptive names.

If for example my (complicated) code base ICEs. Normally it is easier to find a workaround on a reduced snippet and then apply it on the code bas

[2020-01-25 09:00] marehr commented on #202
Oh there is a PR https://github.com/csmith-project/creduce/pull/200#issuecomment-574622204 to manually remove passes. I think there should be a standalone flag that removes the renaming passes using that functionality.

[2020-01-31 19:19] Changochen opened #203 "C-reduce crashes on some input"
With the following command:
`creduce/bld/creduce/../clang_delta/clang_delta --transformation=callexpr-to-value --counter=1 poc.c`

And poc.c as:
[code]

Creduce met a seg fault.

[2020-02-05 02:57] Cellule commented on #137
Closing since I no longer need to do this

[2020-02-05 02:57] #137 closed

[2020-02-06 15:54] eeide commented on #199
Thanks, @berolinux, for the patch! (I have not looked at it yet.)

As I noted in the earlier comments for this issue, I want to finish a release that supports LLVM 9 before I investigate support for LLVM 10.

[2020-02-06 18:37] berolinux commented on #199
Sure. Might make sense to push my patch to the llvm-svn-compatible branch until then, chances are that's where other LLVM 10 users will look first...

[2020-02-18 09:58] ghost opened #205 "Infinite loop trying to reduce simple snippet"
**Version**

- Ubuntu 19.10
- creduce 2.10.0 (fb91843)

**Bug**

Consider this simple snippet:

[code]
When I try to reduce it there is a point where creduce seems to enter an infinite loop, something like:

[code]
It happens at certain point the file will look like this:

[code]
If I continued running the number of statements `unsigned short detectSaturation_saturationLimit;` will continue growin

[2020-03-10 10:03] user202729 opened #206 "clang_delta "remove-unused-function" transformation does not work correctly for deleted function"
Example run:

[code]

[2020-03-10 10:36] user202729 opened #207 "clang_delta remove-unused-function infinite recursion"
(version: latest git master)

The file that crash the the program is rather large, but it can be obtained by preprocessing any file with `#include "range/v3/all.hpp"`.

The infinite recursion happens in `lookupFunctionDeclShallow`. With this patch applied, the crash doesn't happen: (however the program might be incorrect)

[code]

[2020-03-16 06:08] chenyang78 commented on #203
Thanks for reporting the issue. Looks like the code triggered some crash bug in Clang 8.0.

    $ clang -c crashes/poc.c
    crashes/poc.c:3:5: warning: declaration does not declare anything [-Wmissing-declarations]
        struct s1 ;
        ^
    clang-8: /backup/work/compilers/compiler-source/llvm-8.0.0.src/include/llvm/Support/Casting.h:106: static bool llvm::isa_impl_cl<To, const From*>::doi

[2020-03-16 06:08] #203 closed

[2020-03-16 06:57] chenyang78 commented on #205
Fixed.

Thanks for reporting the issue!

[2020-03-16 06:57] #205 closed

[2020-03-16 13:20] eeide commented on #203
I will mention hat I am working toward a new release of C-Reduce that will us a newer version of LLVM.  (My progress has been slow due to other work deadlines, but I hope to complete it soon!)

[2020-03-25 13:11] marxin commented on #199
I would like to point out that LLVM 10 has been released. So a creduce release would be handy.

[2020-03-25 14:03] eeide commented on #199
Thank you for the heads-up!

[2020-03-29 09:31] Cogitri commented on #199
FWIW Alpine Linux Edge will probably jump onto #204 for now to support LLVM10: https://gitlab.alpinelinux.org/alpine/aports/merge_requests/5975/diffs?commit_id=f1ddd678f31172e60843b790de608855cd0f1352 .

[2020-03-29 16:14] elfring opened #208 "Remove unnecessary null pointer checks"
[An extra null pointer check is not needed in functions](https://isocpp.org/wiki/faq/freestore-mgmt#delete-handles-null "Do I need to check for null before delete p?") like the following.
- [RenameParam](https://github.com/csmith-project/creduce/blob/9b54272f9f7d6b0d7f4289454d20a847ca97c450/clang_delta/RenameParam.cpp#L272 "Destructor for RenameParam")
- [ReplaceUndefinedFunction](https://github.c

[2020-04-04 19:20] pkubaj opened #209 "sysctl: unknown oid 'machdep.hyperthreading_allowed' on FreeBSD/powerpc64"
I'm running creduce on FreeBSD on powerpc64 platform. creduce tries to check machdep.hyperthreading_allowed sysctl parameter on every run and fails, because this parameter is only available on amd64 and i386. Other than that, creduce works fine, this warning doesn't really cause any breakage, but creduce anyway should check on what architecture it's running.

[2020-04-04 21:39] eeide commented on #209
Thank you for the report! It is always good to hear from another FreeBSD user!

As you describe it, this sounds like a low-priority bug. Patches welcome, of course!

[2020-04-08 13:29] marxin commented on #160
I know the reason. These passes use `clang_delta` and the source file transformation itself takes quite some time (on 1M CPP file ~ 1s). The **transform** phase does not run in parallel and it's quite common that **interestingness test** (which can run in parallel) on these files ends quickly. I'm preparing a patch that can fix that (hopefully, it will happen in Python creduce).

[2020-04-12 07:58] marxin commented on #199
And one also needs switch from `c++11` to `c++14`:

[code]

[2020-04-12 08:24] marxin opened #210 "clang_delta is much slower with LLVM 10 than with LLVM 9"
I noticed that after updated to LLVM 10:

[code]

With LLVM 9 I get:
[code]

[pr94523.zip](https://github.com/csmith-project/creduce/files/4466042/pr94523.zip)

[2020-04-12 08:30] marxin commented on #210
There are perf reports including number of samples:

LLVM 10:
[code]

LLVM 9:
[code]

[2020-04-12 09:07] marxin commented on #210
I've probably got it. It will caused by language default in Clang 10:

with:
[code]
[code]

while with:
[code]

I get:
[code]

[2020-04-12 09:19] marxin commented on #210
Without setting any default we get for LLVM 10:

[code]

and the same for LLVM 9:
[code]

Patch:
[code]

So it's unclear why is LLVM 10 so much slower, the `-std` should be used the same.

[2020-04-12 09:21] marxin commented on #199
Note that LLVM 10 is slower: #210

[2020-04-12 09:31] Cogitri commented on #199
Yup, but even so most if not all distros will jump onto LLVM10, it doesn't really scale to keep old LLVM versions around.

[2020-04-12 09:37] marxin commented on #199
Sure, I also want to update to LLVM 10 in openSUSE, but 3 times slower clang_delta is a real problem to me! We should investigate what's wrong or different.

[2020-04-12 10:01] Cogitri commented on #199
Ah yes, I didn't want to doubt that, sorry if it sounded like that. Yes, that regression should certainly be fixed! :)

[2020-04-12 17:39] regehr commented on #210
thanks for looking into this!

[2020-04-14 02:45] chenyang78 commented on #199
Based on the pull request from @berolinux , I pushed a new branch llvm10.0. Thanks, @berolinux !

[2020-04-14 02:56] regehr commented on #199
thanks Yang!

[2020-04-20 12:03] marxin commented on #207
Reduced test-case:

[code]

[2020-04-21 04:11] chenyang78 commented on #207
@marxin Thank you so much!

[2020-04-21 06:26] chenyang78 commented on #207
I committed the fix in d83cbda. Thanks, @user202729 and @marxin !

[2020-04-21 06:27] #207 closed

[2020-04-21 14:33] marxin commented on #51
Unfortunately, the file is not a pre-processed source file. Let's close it.

[2020-04-21 14:33] #51 closed

[2020-04-23 11:44] marxin opened #212 "clang_delta assert: clang_delta: ../tools/clang/lib/AST/ExprConstant.cpp:12374 failed on i586"
I see the following assert being triggered on `i586` and `armv7l`:

[code]

[2020-04-24 06:35] marxin opened #213 "clang_delta: --transformation=empty-struct-to-int --counter=1 empty-struct6.c segfault"
I see a segfault with LLVM9:

[code]

as seen the location Length is `4294967295` with is `(int)-1`. So an integer underflow.

[2020-04-24 22:13] eeide commented on #193
This was resolved by merging the pull request. _Thanks, @marxin!_

[2020-04-24 22:13] #193 closed

[2020-04-26 07:08] chenyang78 commented on #213
Hmm, I couldn't reproduce the segfault. The test worked for me:

    $ ./clang_delta --transformation=empty-struct-to-int --counter=1 /home/marxin/Programming/cvise/clang_delta/tests/empty-struct-to-int/empty-struct6.c
    // RUN: %clang_delta --transformation=empty-struct-to-int --counter=1 %s 2>&1 | %remove_lit_checks | FileCheck %s

    // CHECK: int a = 0;
    int  a = 0;

I am using LLVM 9.0.

[2020-04-26 07:24] chenyang78 commented on #208
I borrowed the fix in the commit 2dd5d02 made by @marxin to cvise. Thanks!

[2020-04-26 07:24] #208 closed

[2020-04-26 07:25] chenyang78 commented on #212
This was fixed. Thanks!

[2020-04-26 07:25] #212 closed

[2020-04-26 07:49] elfring commented on #208
Thanks for [your small source code improvement](https://github.com/csmith-project/creduce/commit/893dacdf85ea2058fc5de22f927358b16120f731 "Deletion of a few unnecessary checks").

[2020-04-26 07:59] chenyang78 commented on #208
Thanks for reporting the issue, @elfring !

[2020-04-26 19:10] marxin commented on #212
Can you please link a commit that fixed that with issues? It's then easier to find which issue was fixed by which commit. Thanks!

[2020-04-26 19:35] marxin commented on #213
It's quite interesting that it does not happen in valgrind:

[code]

[2020-04-27 07:08] chenyang78 commented on #212
It was fixed in commit [34881e7](https://github.com/csmith-project/creduce/commit/34881e78f4ec4ed9f893da5179086c628c8f4f1d). Thanks.

[2020-04-27 07:09] chenyang78 commented on #213
Not sure what's going on. The test also passed with LLVM 9.0.1 on my Ubuntu 18.04.

[2020-04-27 08:19] marxin commented on #213
I bet there's some location offset underflow, but hard to guess.

[2020-05-02 07:39] chenyang78 commented on #206
Fixed in commit ce947d67. Thank you for reporting the issue, @user202729 !

[2020-05-02 07:39] #206 closed

[2020-05-10 11:46] marxin opened #214 "RewriteUtils.cpp:1080: void RewriteUtils::getStringBetweenLocs(std::string&, clang::SourceLocation, clang::SourceLocation): Assertion `StartBuf < EndBuf' failed."
I see the following crash:

$ ./clang_delta/clang_delta --transformation=simplify-recursive-template-instantiation --counter=1 crash1.C
[crash1.C.txt](https://github.com/csmith-project/creduce/files/4605573/crash1.C.txt)

Note that file is a valid C++ code:
$ g++ crash1.C -c

[2020-05-16 08:41] chenyang78 commented on #214
Fixed in d569146. Thanks!

[2020-05-16 08:41] #214 closed

[2020-06-01 17:31] erichkeane opened #216 "pass_comments misinterpreted URL in a string-literal as a label+ comment"
So I found this problem trying to minimize something that included libstdc++.

The original code was:

    static_assert(sizeof (uintmax_t) == sizeof (unsigned long long),
    "This library calls __builtin_clzll on uintmax_t, which "
    "is unsafe on your platform. Please complain to "
    "http://gcc.gnu.org/bugzilla/");

the pass replaced the last line there with:
    "http:

(note no closing s

[2020-06-01 17:33] erichkeane opened #217 "pass_line_markers doesn't check that it still builds after? Should do so and diagnose"
I had a case where pass_line_markers (removing the line markers) ended up causing a failure, but it didn't seem to check to make sure it was allowed to do so.

The problem is that there are compilers (such as clang) with warnings-as-default-errors that don't diagnose these warnings in system header files.  The process of removing these line markers makes these no longer be in the system header fil

[2020-06-01 17:45] regehr commented on #216
Hi Erich, I don't understand why this made it take all weekend, can you explain more?

But anyway, the model here is that C-Reduce can try anything at all, and your interestingness test should be robust with respect to this.

[2020-06-01 17:48] regehr commented on #217
Hi Erich, again I don't understand why this caused C-Reduce to not do anything. What is supposed to happen is that if C-Reduce creates a bad variant for any reason, this variant is rejected by your interestingness test, and then C-Reduce backs off and tries other things. Perhaps you can explain in more detail why this is not feasible here.

[2020-06-01 17:49] erichkeane commented on #216
I don't particularly know how creduce works, but I would presume because it resulted in no other passes being able to make any progress, since no change it made could actually pass the script.

I let it run over the weekend, and it removed no other code, and I had to kill it.  It never ended.  "top" showed the clang instances coming and going, but no additional output happened.  I saw this:

===<

[2020-06-01 17:50] erichkeane commented on #217
That was my understanding, but it seems that pass_line_markers does NOT do the interestingness test afterwards, at least in my 2.10 build.  I also noticed pass_comments did the same (see the bug before this one, #216 I believe).

[2020-06-01 17:53] regehr commented on #217
Hi Erich, a variant is only accepted as the basis for further reduction once it passes the interestingness test, so it might have passed at least once. If a variant is accepted without passing the test then there's a major bug in C-Reduce, but I do not know of any such bugs.

(this applies to your other bug report as well, so I won't repeat it there)

[2020-06-01 18:10] erichkeane commented on #217
So I tried a min repro, and I believe THIS part might be a result of me "holding it wrong".  In my .sh file I was doing the full path to the file, not local.  I misinterpreted the 'C-Reduce cannot run because the interestingness test does not return zero' error message, and put the full-path to the file in my compiler invocation.  So I don't think this bug is valid.

While I think a diagnosis here

[2020-06-01 18:10] #217 closed

[2020-06-01 18:12] erichkeane commented on #216
As determined in the second bug report (#217), the 'hanging' behavior that made it take all weekend was a result of my script doing the file name with the full path (since I mis-interpreted the initial interestingness test error message).

So, this sentence: "The result is it spent all weekend with no ability to clean up anything." in my initial bug report was a different issue.

[2020-06-24 14:52] dgrunwald commented on #202
This is what I've been using:
`creduce --remove-pass pass_clang rename-fun --remove-pass pass_clang rename-param --remove-pass pass_clang rename-var --remove-pass pass_clang rename-class  --remove-pass pass_clang rename-cxx-method --remove-pass pass_clex rename-toks`

It would be nice to have a single option to simplify all of this.

[2020-06-28 08:32] Hexilee opened #219 "Does it work with SQL?"
Thx for your awesome project.

Recently I found some SQL queries cause logic bugs of DBMS, I would like to find which parts of it contribute to this bugs.

Could C-Reduce do this job? How should I do it?

[2020-06-29 03:47] eeide commented on #219
C-Reduce could possibly help—people have used it to reduce test cases written in various non-C/C++ languages including Java, JavaScript, Julia, Rust, and SMT-LIB.

I don't know of anybody who has used C-Reduce on SQL, though.

In terms of "how should you do it," are you asking for basic instructions (e.g., how does C-Reduce work?) or advanced tips?  I'm not sure that I have any "advanced tips" to

[2020-06-29 15:35] regehr commented on #219
I'll add that I'd love to hear either positive or negative results here!

[2020-07-06 21:15] marxin commented on #202
That's exactly what I implemented for `cvise`:
[code]

[2020-07-09 09:30] Hanseltu opened #221 "Question: How to write an interesting script to reduce a timeout case?"
Hi, all.

I am doing a compiler testing work recently and encountered some code that let GCC compiles a long time.

I want to reduce this special case using C-Reduce. I am pretty sure C-Reduce can do this, but I can't work it out for my knowledge limit.

Can anyone help me out how to write an interesting timeout script? Thank you very much.

Best
Haoxin

[2020-07-09 14:33] regehr commented on #221
hello, this is not hard to to. first, you should run gcc under the "timeout" command, or something like it:
https://www.howtogeek.com/423286/how-to-use-the-timeout-command-on-linux/
second, you need to inspect the exit code and if it is the one corresponding to a timeout, return 0 from the interestingness test. you will find that reductions like this are very slow, but they mostly work. the "mostl

[2020-07-09 15:23] Hanseltu commented on #221
Hi, Regehr.

Thanks for your guidance. I think I can handle this now.

Here is an example script to reduce a CPP code. Hope to help someone with the same issue.
[code]

I just close this, thanks again :)

[2020-07-09 15:23] #221 closed

[2020-07-09 15:44] regehr commented on #221
great!
this script looks like what I would have written

[2020-07-13 02:58] yansendao opened #222 "undefined reference after creduce"
![image](https://user-images.githubusercontent.com/36258307/87266269-6d6c4600-c4f7-11ea-86a7-d8268733bbb1.png)

compile error message beforce creduce:

[code]

compile error message after creduce:
[code]

[code]

creduce.sh
[code]

[2020-07-13 03:02] yansendao commented on #222
$ creduce --version
creduce 2.10.0 (fb91843)

[2020-07-13 21:33] eeide commented on #222
Your "interestingness test" (`creduce.sh`) checks that `gcc` succeeds with one set of command-line options and fails with another set of command-line options. This effectively gives C-Reduce permission to do a lot of things, some of which you probably don't want it to do. In particular, it has license to find new programs that do not trigger the original bug!

Probably, what you want is to add mor

[2020-07-17 21:20] regehr commented on #222
closing, feel free to reopen if Eric did not fully answer the question here

[2020-07-17 21:20] #222 closed

[2020-08-04 11:50] berolinux opened #223 "LLVM/Clang 11: creduce fails to build"
creduce fails to build with LLVM/Clang 11, mostly because implicit casting from LLVM::StringRef to std::string has been removed.
Given you likely want to open a new branch for LLVM 11, I'm linking to the
[patch](https://github.com/OpenMandrivaAssociation/creduce/blob/master/creduce-2.10.0-llvm-11.patch) I've added to the [OpenMandriva](https://openmandriva.org/) [package](https://github.com/OpenMa

[2020-08-04 11:51] berolinux commented on #223
The patch is meant to be applied on top of the llvm 10 branch -- all the changes to make 10 work are still required for 11.

[2020-08-06 13:41] marxin commented on #223
Can you please make a pull request to marxin/cvice repository. I would like to merge it..

[2020-10-13 08:07] chenyang78 commented on #223
@berolinux Sorry for being late. LLVM 11.0.0 was out the other day. I've created a branch llvm-11.0 that is compatible with the LLVM 11 release. Thanks for sharing the patch with us!

[2020-10-13 08:07] #223 closed

[2020-12-02 06:11] mmorandi opened #224 "Build error"
git commit 575986abefbb80b1fd2e7e7fc573935fc56c7bd8 (but I get similar error with creduce 2.10.0 )

Configured with
CXX=clang++ ./configure

The same happens with g++ (i.e. configuring with ./configure)

marco@spark:~/TT/creduce (master=)> clang++ --version
clang version 11.0.0
Target: x86_64-unknown-linux-gnu
Thread model: posix
InstalledDir: /usr/bin

clang++ -DHAVE_CONFIG_H -I. -I..   -I"/usr/i

[2020-12-02 06:55] mmorandi commented on #224
Closing since I've found the llvm-11.0 branch

[2020-12-02 06:55] #224 closed

[2021-02-10 13:51] steakhal commented on #219
From my experience, `creduce` is a really versatile tool.
I'm using this on a daily basis reducing a wide variety of files.
Eg. I debugged Clang Cross Translation analysis crashes part of the Clang Static Analyzer which requires me to reduce some source files and text files as well.
For example `externalDefMap.txt` contains the information in lines, so I disabled all default passes and enabled onl

[2021-02-11 12:30] ZhangZhuoSJTU opened #225 "crashed: "/usr/lib/x86_64-linux-gnu/clang_delta" --transformation=callexpr-to-value --counter=1"
Hi,

I encounter a potential creduce bug on my ubuntu 18.04, x86-64.

Following is the bug details.

[code]

There is no '\n' in test.c. Please let me know if there is anything I can help with. Thanks!

[2021-02-11 12:31] ZhangZhuoSJTU commented on #225
FYI, I use apt to install c-reduce.

[2021-02-14 21:56] ZhangZhuoSJTU opened #226 "segfault in multiple transformations"
test.cc:

[code]

PASS_BUG_INFO.TXT:

[code]

[2021-02-14 22:55] ZhangZhuoSJTU opened #227 "another segfault in multiple transformations (c++)"
test.cc:

[code]

PASS_BUG_INFO.TXT:

[code]

[2021-02-15 00:46] ZhangZhuoSJTU opened #228 "additional segfault on c++"
test.cc:

[code]

PASS_BUG_INFO.TXT:

[code]

[2021-02-17 00:27] ZhangZhuoSJTU opened #229 "SimpleInliner.cpp:501: void SimpleInliner::copyFunctionBody(): Assertion `Body && "NULL Body!"' failed."
PASS_BUG_INFO.txt:
[code]

test.c:
[code]

[2021-02-23 02:07] Hexilee commented on #219
Thanks a lot, but I don't have that requirement anymore.

[2021-02-23 02:07] #219 closed

[2021-03-09 15:29] marxin commented on #225
What LLVM do you use?
`$ ldd /usr/lib/x86_64-linux-gnu/clang_delta`

Apparently, C-Vise seems fine with LLVM 11.

[2021-03-09 15:32] marxin commented on #226
Confirmed, crashes here:
[code]

[2021-03-09 15:34] marxin commented on #227
Confirmed, crashes here:
[code]

[2021-03-09 15:34] marxin commented on #228
Confirmed, crashes here:
[code]

[2021-03-09 18:38] marxin commented on #229
Fixed in C-Vise, feel free to cherry pick marxin/cvise@95ee3f82c1a1185751f237295eb51b94446525b8.

[2021-03-14 02:50] porglezomp opened #230 "creduce doesn't work when the path to the input file contains a space"
The example same minimal demo project fails when the current working directory is in `/tmp/path with space` and succeeds in `/tmp/path-without-space`. This makes creduce much more annoying to adopt for my friend who has spaces in his home directory.

[2021-03-16 09:28] marxin commented on #230
You can experiment with https://github.com/marxin/cvise, it works fine in such a scenario:

[code]

[2021-03-16 15:22] eeide commented on #230
Thank you for reporting this, @porglezomp. Surely it is a bug that we should fix.

[2021-03-26 20:52] chenyang78 commented on #225
Thanks for the report, @ZhangZhuoSJTU ! Looks like the issue has been fixed in the git head.

[code]

[2021-03-26 20:52] #225 closed

[2021-03-26 21:05] chenyang78 commented on #226
Looks like the issue came from Clang's ParseAST call-chain. For example, a vanilla ```clang``` also failed with the same failure:

[code]

I also checked clang binaries from LLVM 9.0 and 11.0. They both crashed in the same way. I am closing this one as not-a-creduce-issue.

[2021-03-26 21:05] #226 closed

[2021-03-26 21:09] chenyang78 commented on #227
Similar to issue #226. This crash also came from clang's parsing routines.

[code]

Closing it as not a creduce issue. Thanks.

[2021-03-26 21:09] #227 closed

[2021-03-26 21:12] chenyang78 commented on #228
Looks like it's another crash in clang.

[code]

Similar to #226 and #227. I am closing this issue as well. Thanks.

[2021-03-26 21:12] #228 closed

[2021-03-28 05:11] chenyang78 commented on #229
Fixed in the commit e507cc. Thanks for reporting the issue, @ZhangZhuoSJTU !

[2021-03-28 05:11] #229 closed

[2021-07-14 08:49] 0-wiz-0 opened #232 "Please make a release"
The last release is from 2019 and does not build against llvm 10, 11, or 12.
Please make a new release that does.

Thank you!

[2021-07-14 16:55] eeide commented on #232
Hi! We are looking forward to caching up with our official releases as soon as we can. Yes, we are quite behind!

In case you do not already know, let me mention that you can currently find branches in the repository with patches for LLVM 10, 11, and 12. E.g., see branch `llvm-12-dev`. If you are currently "stuck" while trying to build C-Reduce, one of these branches might be useful for getting un

[2021-07-23 06:39] marxin commented on #232
As an alternative, I can offer https://github.com/marxin/cvise, which supports all LLVM releases since version 9.

[2021-07-23 07:45] andrewvaughanj opened #233 "Assertion failure with `lift-assignment-expr`"
As reported in https://github.com/marxin/cvise/issues/55

For:

[code]

(that is, I'm using the `llvm-11.0` branch of `creduce`)

with:

[code]

and on the following file:

[code]

we get:

[code]

[2021-07-23 07:45] andrewvaughanj opened #234 "Assertion failure with `remove-namespace`"
As reported in https://github.com/marxin/cvise/issues/56

For:

[code]

(that is, I'm using the `llvm-11.0` branch of `creduce`)

with:

[code]

and on the following file:

[code]

we get:

[code]

[2021-07-23 07:45] andrewvaughanj opened #235 "Assertion failure with `param-to-local`"
As reported in https://github.com/marxin/cvise/issues/57

For:

[code]

(that is, I'm using the `llvm-11.0` branch of `creduce`)

with:

[code]

and on the following file:

[code]

we get:

[code]

[2021-07-23 07:45] andrewvaughanj opened #236 "Assertion failure with `simple-inliner`"
As reported in https://github.com/marxin/cvise/issues/58

For:

[code]

(that is, I'm using the `llvm-11.0` branch of `creduce`)

with:

[code]

and on the following file:

[code]

we get:

[code]

[2021-07-23 07:51] andrewvaughanj opened #237 "Segmentation violation with multiple passes"
As reported in https://github.com/marxin/cvise/issues/54

For:

[code]

(that is, I'm using the `llvm-11.0` branch of `creduce`)

with:

[code]

and on the following file:

[code]

we get:

[code]

The crash looks like something:

[code]

[2021-07-23 07:53] andrewvaughanj commented on #237
Oh, wow, actually, this crashes `clang`:

[code]

Closing!

[2021-07-23 07:53] #237 closed

[2021-07-23 08:04] andrewvaughanj commented on #237
Reported here: https://bugs.llvm.org/show_bug.cgi?id=51176

[2021-07-23 14:50] eeide commented on #237
Congratulations on finding a clang bug!

[2021-08-19 09:44] qbolec commented on #180
Hi! The steps described at https://github.com/zjturner/creduce-windows are awesome and almost worked for me, so I've filed this addendum to it https://github.com/zjturner/creduce-windows/issues/2 - which I share here, because its one of the places I've found when struggling to find help with building C-Reduce on Windows in order to be able to file a bug in LLVM.

[2021-08-19 10:12] Trass3r commented on #180
I've usually fallen back to https://github.com/CyberShadow/DustMite/issues/14#issuecomment-44059346 in the past, even though it wasn't meant for C++ it still works nicely and doesn't have awkward dependencies like perl.

[2021-09-30 09:39] theodelrieu opened #238 "[Windows] File gets reduced to emptiness"
Hello,

I don't really know how to title it, but here is my problem:

I'm trying to reduce a Visual Studio 2019 ICE on Windows 10. After battling a bit to make `creduce` run on Windows, I've managed to start reducing the file, but it almost instantly reduces to 0 bytes.

The interestingness script does return 1 appropriately, so I don't have a clue about what's happening, here is the end of the lo

[2021-10-21 18:26] mitchblank commented on #232
Just as an FYI, as of a couple hours ago `creduce` is now the last remaining formula in the main homebrew repo to still depend on LLVM <11: https://github.com/Homebrew/homebrew-core/blob/master/Formula/creduce.rb

This dependency is particularly annoying on OS/X since it means that homebrew can't build an M1-native package for it.

I'm not a `creduce` user myself but just wanted to mention it here

[2021-11-18 07:54] chenyang78 commented on #233
Fixed in commit ```a041ad9```. Thank you for the bug report, Andrew!

[2021-11-18 07:54] #233 closed

[2021-11-19 09:25] chenyang78 commented on #234
Fixed in ```4371cc2```. Thank you for reporting the issue, Andrew!

[2021-11-19 09:25] #234 closed

[2021-12-09 18:59] wcohen opened #239 "LLVM/Clang 13: creduce fails to build"
Attempted to build the master branch of creduce on Fedora 35 after installing the dependencies.  Fedora 32 is using LLVM-13.  The build fails:

[code]

Saw that there were some branches (  llvm-11.0 and llvm-12.0-dev) that appear to try to address problems with newer versions of LLVM, but those also failed.  Both llvm-11.0 and llvm-12.0-dev get the following error:

[code]

[2022-01-15 08:25] chenyang78 commented on #235
Fixed in commit c2b9967. Thank you for reporting the issue, @andrewvaughanj !

[2022-01-15 08:25] #235 closed

[2022-01-15 08:51] chenyang78 commented on #236
Fixed in 98c3f5d. Thank you, @andrewvaughanj !

[2022-01-15 08:51] #236 closed

[2022-01-17 08:00] chenyang78 commented on #239
@wcohen , I created a branch llvm-13.0 that works with LLVM 13.0 release. Thanks!

[2022-01-17 14:46] wcohen commented on #239
I was able to successfully build the llvm-13.0 branch on Fedora 35. The creduce provided the same reduction on Fedora 35 as on Fedora 33.  Thanks

Is that going to be merged into the main branch of creduce or is there some incompatibility with earlier versions of LLVM?

[2022-01-17 14:59] wcohen commented on #239
The example used to exercise creduce on Fedora 35 was from https://gcc.gnu.org/bugzilla/show_bug.cgi?id=96937, GCC Bug 96937 - Duplicate DW_TAG_formal_parameter in out-of-line DW_TAG_subprogram instance

[2022-01-18 08:24] chenyang78 commented on #239
Yes, it's not compatible with earlier LLVM versions. We will keep this as a separate branch for now. Thanks.

[2022-01-18 08:25] chenyang78 commented on #239
Thank you for the info!

[2022-02-24 10:47] mgehre-amd commented on #239
Would there be a way to merge this by guarding with an `#if` check for the LLVM version?

[2022-05-12 07:44] changbindu opened #241 "Died at pass_line_markers.pm line 26"
The path of src file passed to pass_line_markers.pm is a base name but not full path. So it failed to open it if the file is not in current work dir. Could this be fixed up?

$ creduce llvm-riscv-callconvention-bug.sh /home/changbin/work/linux-riscv/net/ipv6/route.c
[snip]
===< pass_line_markers :: 0 >===
cannot open file route.c at /home/linuxbrew/.linuxbrew/Cellar/creduce/2.10.0_3/share/creduce/

[2022-05-18 13:52] kloczek opened #242 "2.10.0 + master (6dc5a9d8): build fails witl gcc 12.x"
Yeah .. looks like current code is not gcc 12.x ready
[code]

[2022-06-08 20:51] sethfri opened #243 "Homebrew creduce doesn't support Apple Silicon"
`brew install creduce` currently fails on Apple Silicon Macs with the error `llvm@9: The x86_64 architecture is required for this software.`

According to #232, since `creduce` is still using LLVM 9, it is unable to support Apple Silicon. I see that there are branches for LLVM 10, 11, and 12, but I'm unsure what the status is. Is there a roadmap or any sort of plan for updated LLVM version support

[2022-06-08 22:50] eeide commented on #243
Hi! The plan (I expect) is to simply catch up to current LLVM. We are far behind, and the extra value of catching up version-by-version is probably limited at this point.

I hope to catch up soon. I don't like being so far behind. I am still catching up somewhat from an overloaded spring semester, but I hope to have cycles to work on this in the next few weeks.

Patches are always welcome! I expec

[2022-06-09 07:39] chenyang78 commented on #243
@sethfri Thank you for raising the issue! We have branches that work for LLVM 11/12/13 and hopefully we could make a new release for a more recent LLVM version as Eric says.

[2022-06-17 10:07] marxin commented on #242
You'll need https://github.com/marxin/cvise/commit/301d78862074f02cea44b652d66982dfe20e650e and likely other commits I have in C-Vise.

[2022-06-17 10:08] marxin commented on #243
You can try C-Vise that support all LLVM releases since version 9:
https://github.com/marxin/cvise

[2022-06-19 01:49] TestingPlant opened #244 "reduce-class-template-param adds spaces forever"
With the following C++ code:

[code]

it just adds spaces.

I originally reported this to [cvise](https://github.com/marxin/cvise/issues/73) and they told me to report it here.

[2022-06-19 03:28] eeide commented on #244
Thank you for your report!

[2022-07-07 11:23] marxin opened #245 "crash in RemoveUnusedFunction::removeOneFunctionDecl"
The following is causing crash:

[code]

[code]

[2022-07-07 15:10] eeide commented on #245
Thank you for the bug report!

[2022-07-15 17:15] carlocab commented on #243
Try `brew install --HEAD creduce`. It builds from the tip of the `llvm-13.0` branch and uses `llvm@13`.

You'll need to build from source, though, and there are several reasons why that may fail. But let me know if it doesn't work, and I'll try to fix it.

[2022-07-25 08:41] oraluben commented on #243
Thanks! It looks like the llvm 13 support is not up-to-date with the llvm 13 in homebrew, right? @carlocab

[code]

[2022-07-28 04:42] carlocab commented on #243
I've opened https://github.com/Homebrew/homebrew-core/pull/106720 to fix the problem you're seeing. (I can't promise that won't just lead to another one, though.)

[2022-07-28 08:08] carlocab commented on #243
It builds now, but doesn't quite work:
[code]
Not sure what's wrong, unfortunately. If someone can give me a hint, I can try to fix the Homebrew formula.

[2022-07-28 08:40] oraluben commented on #243
It's due to failure of `creduce/pass_indent.pm::check_prereqs`, which checks for the executable `clang-format`. This binary is installed with `llvm@13` (in /opt/homebrew/Cellar/llvm@13/13.0.1/bin) but not in search path.

Is this something that an be fixed by Homebrew formula? @carlocab

[2022-07-28 09:17] carlocab commented on #243
Yes. https://github.com/Homebrew/homebrew-core/pull/106743

[2022-07-28 09:55] carlocab commented on #243
Incidentally, I noticed that `creduce` builds some additional executables that the Homebrew formula currently doesn't expose to the user (as they are installed into a location that typically isn't in the user's `PATH`):
- clang_delta
- clex
- strlex
- topformatflat
- unifdef

Are these just helper binaries for `creduce`, or should a user be able to access any of them directly?

[2022-07-28 12:45] oraluben commented on #243
As a normal end user, I'm not aware of any of those executables.

[2022-07-28 12:49] carlocab commented on #243
Well, no one's complained about them being hidden away in `libexec`, and you don't seem to be missing them, so I'm okay with keeping them there for now. We can always fix it if someone is actually interested in using them directly.

[2022-11-08 17:34] wolfwood opened #247 "Creduce crash while reducing Zig code"
[code]

full files here https://gist.github.com/wolfwood/fe598d3012f168052e91110be7f02e0b

[2022-11-08 17:51] eeide commented on #247
Thank you for your bug report!